<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.AdminSessionDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.AdminSession">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    admin_id, token, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM c_admin_session
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM c_admin_session
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.AdminSession">
    INSERT INTO c_admin_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="token != null and token != ''">
        token,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="token != null and token != ''">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.AdminSession">
    UPDATE c_admin_session
    <set>
      <if test="token != null and token != ''">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.AdminSession">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    admin_id, token, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM c_admin_session
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM c_admin_session
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.AdminSession">
    INSERT INTO c_admin_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="token != null and token != ''">
        token,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="token != null and token != ''">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.AdminSession">
    UPDATE c_admin_session
    <set>
      <if test="token != null and token != ''">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>