<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.AdminSessionLogDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.AdminSessionLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="form" jdbcType="INTEGER" property="form" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="unique" jdbcType="VARCHAR" property="unique" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, admin_id, token, login_ip, form, type, unique, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM c_admin_session_log
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM c_admin_session_log
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.AdminSessionLog">
    INSERT INTO c_admin_session_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="token != null and token != ''">
        token,
      </if>
      <if test="loginIp != null and loginIp != ''">
        login_ip,
      </if>
      <if test="form != null">
        form,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="unique != null and unique != ''">
        unique,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="token != null and token != ''">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null and loginIp != ''">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="form != null">
        #{form,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="unique != null and unique != ''">
        #{unique,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.AdminSessionLog">
    UPDATE c_admin_session_log
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="token != null and token != ''">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginIp != null and loginIp != ''">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="form != null">
        form = #{form,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="unique != null and unique != ''">
        unique = #{unique,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>