<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GoodsFormatDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.GoodsFormat">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <id column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    goods_id, format_id, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.GoodsFormatKey" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_goods_format
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.GoodsFormatKey">
    DELETE FROM t_goods_format
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.GoodsFormat">
    INSERT INTO t_goods_format
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="formatId != null">
        format_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="formatId != null">
        #{formatId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.GoodsFormat">
    UPDATE t_goods_format
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.GoodsFormat">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <id column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    goods_id, format_id, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.GoodsFormatKey" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_goods_format
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.GoodsFormatKey">
    DELETE FROM t_goods_format
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.GoodsFormat">
    INSERT INTO t_goods_format
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="formatId != null">
        format_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="formatId != null">
        #{formatId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.GoodsFormat">
    UPDATE t_goods_format
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND format_id = #{formatId,jdbcType=INTEGER}
  </update>
</mapper>