<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GoodsDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="sales_num" jdbcType="INTEGER" property="salesNum" />
    <result column="keep_num" jdbcType="INTEGER" property="keepNum" />
    <result column="mark_price" jdbcType="DECIMAL" property="markPrice" />
    <result column="former_price" jdbcType="DECIMAL" property="formerPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discuss_num" jdbcType="INTEGER" property="discussNum" />
    <result column="promo_name" jdbcType="VARCHAR" property="promoName" />
    <result column="promo_price" jdbcType="DECIMAL" property="promoPrice" />
    <result column="promo_is" jdbcType="INTEGER" property="promoIs" />
    <result column="hot_is" jdbcType="INTEGER" property="hotIs" />
    <result column="gifts_is" jdbcType="INTEGER" property="giftsIs" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_sub_id" jdbcType="INTEGER" property="typeSubId" />
    <result column="type_sub_name" jdbcType="VARCHAR" property="typeSubName" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.honglinktech.zbgj.entity.Goods">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, sub_name, sales_num, keep_num, mark_price, former_price, price, discuss_num, 
    promo_name, promo_price, promo_is, hot_is, gifts_is, brand_id, brand_name, type_id, 
    type_name, type_sub_id, type_sub_name, collect_num, status, img_url, sort, update_time, 
    create_time
  </sql>

  <sql id="Blob_Column_List">
    detail
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM t_goods
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_goods
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.Goods">
    INSERT INTO t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="subName != null and subName != ''">
        sub_name,
      </if>
      <if test="salesNum != null">
        sales_num,
      </if>
      <if test="keepNum != null">
        keep_num,
      </if>
      <if test="markPrice != null">
        mark_price,
      </if>
      <if test="formerPrice != null">
        former_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discussNum != null">
        discuss_num,
      </if>
      <if test="promoName != null and promoName != ''">
        promo_name,
      </if>
      <if test="promoPrice != null">
        promo_price,
      </if>
      <if test="promoIs != null">
        promo_is,
      </if>
      <if test="hotIs != null">
        hot_is,
      </if>
      <if test="giftsIs != null">
        gifts_is,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null and brandName != ''">
        brand_name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null and typeName != ''">
        type_name,
      </if>
      <if test="typeSubId != null">
        type_sub_id,
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        type_sub_name,
      </if>
      <if test="collectNum != null">
        collect_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null and subName != ''">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="promoName != null and promoName != ''">
        #{promoName,jdbcType=VARCHAR},
      </if>
      <if test="promoPrice != null">
        #{promoPrice,jdbcType=DECIMAL},
      </if>
      <if test="promoIs != null">
        #{promoIs,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null and brandName != ''">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null and typeName != ''">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubId != null">
        #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        #{typeSubName,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null">
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.Goods">
    UPDATE t_goods
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null and subName != ''">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        keep_num = #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        mark_price = #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        former_price = #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        discuss_num = #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="promoName != null and promoName != ''">
        promo_name = #{promoName,jdbcType=VARCHAR},
      </if>
      <if test="promoPrice != null">
        promo_price = #{promoPrice,jdbcType=DECIMAL},
      </if>
      <if test="promoIs != null">
        promo_is = #{promoIs,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        hot_is = #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        gifts_is = #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null and brandName != ''">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null and typeName != ''">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubId != null">
        type_sub_id = #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        type_sub_name = #{typeSubName,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null">
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="sales_num" jdbcType="INTEGER" property="salesNum" />
    <result column="keep_num" jdbcType="INTEGER" property="keepNum" />
    <result column="mark_price" jdbcType="DECIMAL" property="markPrice" />
    <result column="former_price" jdbcType="DECIMAL" property="formerPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discuss_num" jdbcType="INTEGER" property="discussNum" />
    <result column="promo_name" jdbcType="VARCHAR" property="promoName" />
    <result column="promo_price" jdbcType="DECIMAL" property="promoPrice" />
    <result column="promo_is" jdbcType="INTEGER" property="promoIs" />
    <result column="hot_is" jdbcType="INTEGER" property="hotIs" />
    <result column="gifts_is" jdbcType="INTEGER" property="giftsIs" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_sub_id" jdbcType="INTEGER" property="typeSubId" />
    <result column="type_sub_name" jdbcType="VARCHAR" property="typeSubName" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.honglinktech.zbgj.entity.Goods">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, sub_name, sales_num, keep_num, mark_price, former_price, price, discuss_num, 
    promo_name, promo_price, promo_is, hot_is, gifts_is, brand_id, brand_name, type_id, 
    type_name, type_sub_id, type_sub_name, collect_num, status, img_url, sort, update_time, 
    create_time
  </sql>

  <sql id="Blob_Column_List">
    detail
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM t_goods
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_goods
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.Goods">
    INSERT INTO t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="subName != null and subName != ''">
        sub_name,
      </if>
      <if test="salesNum != null">
        sales_num,
      </if>
      <if test="keepNum != null">
        keep_num,
      </if>
      <if test="markPrice != null">
        mark_price,
      </if>
      <if test="formerPrice != null">
        former_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discussNum != null">
        discuss_num,
      </if>
      <if test="promoName != null and promoName != ''">
        promo_name,
      </if>
      <if test="promoPrice != null">
        promo_price,
      </if>
      <if test="promoIs != null">
        promo_is,
      </if>
      <if test="hotIs != null">
        hot_is,
      </if>
      <if test="giftsIs != null">
        gifts_is,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null and brandName != ''">
        brand_name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null and typeName != ''">
        type_name,
      </if>
      <if test="typeSubId != null">
        type_sub_id,
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        type_sub_name,
      </if>
      <if test="collectNum != null">
        collect_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null and subName != ''">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="promoName != null and promoName != ''">
        #{promoName,jdbcType=VARCHAR},
      </if>
      <if test="promoPrice != null">
        #{promoPrice,jdbcType=DECIMAL},
      </if>
      <if test="promoIs != null">
        #{promoIs,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null and brandName != ''">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null and typeName != ''">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubId != null">
        #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        #{typeSubName,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null">
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.Goods">
    UPDATE t_goods
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null and subName != ''">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        keep_num = #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        mark_price = #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        former_price = #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        discuss_num = #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="promoName != null and promoName != ''">
        promo_name = #{promoName,jdbcType=VARCHAR},
      </if>
      <if test="promoPrice != null">
        promo_price = #{promoPrice,jdbcType=DECIMAL},
      </if>
      <if test="promoIs != null">
        promo_is = #{promoIs,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        hot_is = #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        gifts_is = #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null and brandName != ''">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null and typeName != ''">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubId != null">
        type_sub_id = #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="typeSubName != null and typeSubName != ''">
        type_sub_name = #{typeSubName,jdbcType=VARCHAR},
      </if>
      <if test="collectNum != null">
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>