<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GoodsTypeDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.GoodsType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ico" jdbcType="VARCHAR" property="ico" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="search" jdbcType="VARCHAR" property="search" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, ico, img, sort, summary, search, delete_flag, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_goods_type
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_goods_type
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.GoodsType">
    INSERT INTO t_goods_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="ico != null and ico != ''">
        ico,
      </if>
      <if test="img != null and img != ''">
        img,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="summary != null and summary != ''">
        summary,
      </if>
      <if test="search != null and search != ''">
        search,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ico != null and ico != ''">
        #{ico,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null and summary != ''">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="search != null and search != ''">
        #{search,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.GoodsType">
    UPDATE t_goods_type
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ico != null and ico != ''">
        ico = #{ico,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null and summary != ''">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="search != null and search != ''">
        search = #{search,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.GoodsType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ico" jdbcType="VARCHAR" property="ico" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="search" jdbcType="VARCHAR" property="search" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, ico, img, sort, summary, search, delete_flag, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_goods_type
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_goods_type
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.GoodsType">
    INSERT INTO t_goods_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="ico != null and ico != ''">
        ico,
      </if>
      <if test="img != null and img != ''">
        img,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="summary != null and summary != ''">
        summary,
      </if>
      <if test="search != null and search != ''">
        search,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ico != null and ico != ''">
        #{ico,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null and summary != ''">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="search != null and search != ''">
        #{search,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.GoodsType">
    UPDATE t_goods_type
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ico != null and ico != ''">
        ico = #{ico,jdbcType=VARCHAR},
      </if>
      <if test="img != null and img != ''">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null and summary != ''">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="search != null and search != ''">
        search = #{search,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>