<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PicDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Pic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="url_type" jdbcType="INTEGER" property="urlType" />
    <result column="pic_title" jdbcType="VARCHAR" property="picTitle" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, obj_id, type, url_type, pic_title, pic_url, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_pic
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_pic
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.Pic">
    INSERT INTO t_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="objId != null">
        obj_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="urlType != null">
        url_type,
      </if>
      <if test="picTitle != null and picTitle != ''">
        pic_title,
      </if>
      <if test="picUrl != null and picUrl != ''">
        pic_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objId != null">
        #{objId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="urlType != null">
        #{urlType,jdbcType=INTEGER},
      </if>
      <if test="picTitle != null and picTitle != ''">
        #{picTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null and picUrl != ''">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.Pic">
    UPDATE t_pic
    <set>
      <if test="objId != null">
        obj_id = #{objId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="urlType != null">
        url_type = #{urlType,jdbcType=INTEGER},
      </if>
      <if test="picTitle != null and picTitle != ''">
        pic_title = #{picTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null and picUrl != ''">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Pic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="obj_id" jdbcType="INTEGER" property="objId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="url_type" jdbcType="INTEGER" property="urlType" />
    <result column="pic_title" jdbcType="VARCHAR" property="picTitle" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, obj_id, type, url_type, pic_title, pic_url, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_pic
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_pic
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.Pic">
    INSERT INTO t_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="objId != null">
        obj_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="urlType != null">
        url_type,
      </if>
      <if test="picTitle != null and picTitle != ''">
        pic_title,
      </if>
      <if test="picUrl != null and picUrl != ''">
        pic_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objId != null">
        #{objId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="urlType != null">
        #{urlType,jdbcType=INTEGER},
      </if>
      <if test="picTitle != null and picTitle != ''">
        #{picTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null and picUrl != ''">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.Pic">
    UPDATE t_pic
    <set>
      <if test="objId != null">
        obj_id = #{objId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="urlType != null">
        url_type = #{urlType,jdbcType=INTEGER},
      </if>
      <if test="picTitle != null and picTitle != ''">
        pic_title = #{picTitle,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null and picUrl != ''">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>