<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.SocietyNoteDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.SocietyNote">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="society_sub_id" jdbcType="INTEGER" property="societySubId" />
    <result column="society_sub_name" jdbcType="VARCHAR" property="societySubName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="good_num" jdbcType="INTEGER" property="goodNum" />
    <result column="dis_num" jdbcType="INTEGER" property="disNum" />
    <result column="top_is" jdbcType="INTEGER" property="topIs" />
    <result column="rec_is" jdbcType="INTEGER" property="recIs" />
    <result column="gifts_is" jdbcType="INTEGER" property="giftsIs" />
    <result column="img_is" jdbcType="INTEGER" property="imgIs" />
    <result column="reward_is" jdbcType="INTEGER" property="rewardIs" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="ano_is" jdbcType="INTEGER" property="anoIs" />
    <result column="ann_is" jdbcType="INTEGER" property="annIs" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, society_sub_id, society_sub_name, user_id, nick_name, title, detail, address, 
    ip, good_num, dis_num, top_is, rec_is, gifts_is, img_is, reward_is, type, ano_is, 
    ann_is, status, tags, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_society_note
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_society_note
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.SocietyNote">
    INSERT INTO t_society_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="societySubId != null">
        society_sub_id,
      </if>
      <if test="societySubName != null and societySubName != ''">
        society_sub_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickName != null and nickName != ''">
        nick_name,
      </if>
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="detail != null and detail != ''">
        detail,
      </if>
      <if test="address != null and address != ''">
        address,
      </if>
      <if test="ip != null and ip != ''">
        ip,
      </if>
      <if test="goodNum != null">
        good_num,
      </if>
      <if test="disNum != null">
        dis_num,
      </if>
      <if test="topIs != null">
        top_is,
      </if>
      <if test="recIs != null">
        rec_is,
      </if>
      <if test="giftsIs != null">
        gifts_is,
      </if>
      <if test="imgIs != null">
        img_is,
      </if>
      <if test="rewardIs != null">
        reward_is,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="anoIs != null">
        ano_is,
      </if>
      <if test="annIs != null">
        ann_is,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tags != null and tags != ''">
        tags,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="societySubId != null">
        #{societySubId,jdbcType=INTEGER},
      </if>
      <if test="societySubName != null and societySubName != ''">
        #{societySubName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null and nickName != ''">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null and detail != ''">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="disNum != null">
        #{disNum,jdbcType=INTEGER},
      </if>
      <if test="topIs != null">
        #{topIs,jdbcType=INTEGER},
      </if>
      <if test="recIs != null">
        #{recIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="imgIs != null">
        #{imgIs,jdbcType=INTEGER},
      </if>
      <if test="rewardIs != null">
        #{rewardIs,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="anoIs != null">
        #{anoIs,jdbcType=INTEGER},
      </if>
      <if test="annIs != null">
        #{annIs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null and tags != ''">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.SocietyNote">
    UPDATE t_society_note
    <set>
      <if test="societySubId != null">
        society_sub_id = #{societySubId,jdbcType=INTEGER},
      </if>
      <if test="societySubName != null and societySubName != ''">
        society_sub_name = #{societySubName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null and nickName != ''">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null and detail != ''">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        good_num = #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="disNum != null">
        dis_num = #{disNum,jdbcType=INTEGER},
      </if>
      <if test="topIs != null">
        top_is = #{topIs,jdbcType=INTEGER},
      </if>
      <if test="recIs != null">
        rec_is = #{recIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        gifts_is = #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="imgIs != null">
        img_is = #{imgIs,jdbcType=INTEGER},
      </if>
      <if test="rewardIs != null">
        reward_is = #{rewardIs,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="anoIs != null">
        ano_is = #{anoIs,jdbcType=INTEGER},
      </if>
      <if test="annIs != null">
        ann_is = #{annIs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null and tags != ''">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.SocietyNote">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="society_sub_id" jdbcType="INTEGER" property="societySubId" />
    <result column="society_sub_name" jdbcType="VARCHAR" property="societySubName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="good_num" jdbcType="INTEGER" property="goodNum" />
    <result column="dis_num" jdbcType="INTEGER" property="disNum" />
    <result column="top_is" jdbcType="INTEGER" property="topIs" />
    <result column="rec_is" jdbcType="INTEGER" property="recIs" />
    <result column="gifts_is" jdbcType="INTEGER" property="giftsIs" />
    <result column="img_is" jdbcType="INTEGER" property="imgIs" />
    <result column="reward_is" jdbcType="INTEGER" property="rewardIs" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="ano_is" jdbcType="INTEGER" property="anoIs" />
    <result column="ann_is" jdbcType="INTEGER" property="annIs" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, society_sub_id, society_sub_name, user_id, nick_name, title, detail, address, 
    ip, good_num, dis_num, top_is, rec_is, gifts_is, img_is, reward_is, type, ano_is, 
    ann_is, status, tags, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_society_note
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_society_note
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.SocietyNote">
    INSERT INTO t_society_note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="societySubId != null">
        society_sub_id,
      </if>
      <if test="societySubName != null and societySubName != ''">
        society_sub_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="nickName != null and nickName != ''">
        nick_name,
      </if>
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="detail != null and detail != ''">
        detail,
      </if>
      <if test="address != null and address != ''">
        address,
      </if>
      <if test="ip != null and ip != ''">
        ip,
      </if>
      <if test="goodNum != null">
        good_num,
      </if>
      <if test="disNum != null">
        dis_num,
      </if>
      <if test="topIs != null">
        top_is,
      </if>
      <if test="recIs != null">
        rec_is,
      </if>
      <if test="giftsIs != null">
        gifts_is,
      </if>
      <if test="imgIs != null">
        img_is,
      </if>
      <if test="rewardIs != null">
        reward_is,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="anoIs != null">
        ano_is,
      </if>
      <if test="annIs != null">
        ann_is,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tags != null and tags != ''">
        tags,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="societySubId != null">
        #{societySubId,jdbcType=INTEGER},
      </if>
      <if test="societySubName != null and societySubName != ''">
        #{societySubName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null and nickName != ''">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null and detail != ''">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="disNum != null">
        #{disNum,jdbcType=INTEGER},
      </if>
      <if test="topIs != null">
        #{topIs,jdbcType=INTEGER},
      </if>
      <if test="recIs != null">
        #{recIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="imgIs != null">
        #{imgIs,jdbcType=INTEGER},
      </if>
      <if test="rewardIs != null">
        #{rewardIs,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="anoIs != null">
        #{anoIs,jdbcType=INTEGER},
      </if>
      <if test="annIs != null">
        #{annIs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null and tags != ''">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.SocietyNote">
    UPDATE t_society_note
    <set>
      <if test="societySubId != null">
        society_sub_id = #{societySubId,jdbcType=INTEGER},
      </if>
      <if test="societySubName != null and societySubName != ''">
        society_sub_name = #{societySubName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickName != null and nickName != ''">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null and detail != ''">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="goodNum != null">
        good_num = #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="disNum != null">
        dis_num = #{disNum,jdbcType=INTEGER},
      </if>
      <if test="topIs != null">
        top_is = #{topIs,jdbcType=INTEGER},
      </if>
      <if test="recIs != null">
        rec_is = #{recIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        gifts_is = #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="imgIs != null">
        img_is = #{imgIs,jdbcType=INTEGER},
      </if>
      <if test="rewardIs != null">
        reward_is = #{rewardIs,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="anoIs != null">
        ano_is = #{anoIs,jdbcType=INTEGER},
      </if>
      <if test="annIs != null">
        ann_is = #{annIs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null and tags != ''">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>