<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserFriendDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.UserFriend">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="friend_user_id" jdbcType="INTEGER" property="friendUserId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="friend_user_name" jdbcType="VARCHAR" property="friendUserName" />
    <result column="friend_user_head" jdbcType="VARCHAR" property="friendUserHead" />
    <result column="friend_user_level" jdbcType="INTEGER" property="friendUserLevel" />
    <result column="friend_money" jdbcType="INTEGER" property="friendMoney" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, friend_user_id, type, friend_user_name, friend_user_head, friend_user_level, 
    friend_money, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.UserFriendKey" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user_friend
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.UserFriendKey">
    DELETE FROM t_user_friend
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.UserFriend">
    INSERT INTO t_user_friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="friendUserId != null">
        friend_user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        friend_user_name,
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        friend_user_head,
      </if>
      <if test="friendUserLevel != null">
        friend_user_level,
      </if>
      <if test="friendMoney != null">
        friend_money,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="friendUserId != null">
        #{friendUserId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        #{friendUserName,jdbcType=VARCHAR},
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        #{friendUserHead,jdbcType=VARCHAR},
      </if>
      <if test="friendUserLevel != null">
        #{friendUserLevel,jdbcType=INTEGER},
      </if>
      <if test="friendMoney != null">
        #{friendMoney,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.UserFriend">
    UPDATE t_user_friend
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        friend_user_name = #{friendUserName,jdbcType=VARCHAR},
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        friend_user_head = #{friendUserHead,jdbcType=VARCHAR},
      </if>
      <if test="friendUserLevel != null">
        friend_user_level = #{friendUserLevel,jdbcType=INTEGER},
      </if>
      <if test="friendMoney != null">
        friend_money = #{friendMoney,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.UserFriend">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="friend_user_id" jdbcType="INTEGER" property="friendUserId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="friend_user_name" jdbcType="VARCHAR" property="friendUserName" />
    <result column="friend_user_head" jdbcType="VARCHAR" property="friendUserHead" />
    <result column="friend_user_level" jdbcType="INTEGER" property="friendUserLevel" />
    <result column="friend_money" jdbcType="INTEGER" property="friendMoney" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, friend_user_id, type, friend_user_name, friend_user_head, friend_user_level, 
    friend_money, update_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.UserFriendKey" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user_friend
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.honglinktech.zbgj.entity.UserFriendKey">
    DELETE FROM t_user_friend
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.UserFriend">
    INSERT INTO t_user_friend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="friendUserId != null">
        friend_user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        friend_user_name,
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        friend_user_head,
      </if>
      <if test="friendUserLevel != null">
        friend_user_level,
      </if>
      <if test="friendMoney != null">
        friend_money,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="friendUserId != null">
        #{friendUserId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        #{friendUserName,jdbcType=VARCHAR},
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        #{friendUserHead,jdbcType=VARCHAR},
      </if>
      <if test="friendUserLevel != null">
        #{friendUserLevel,jdbcType=INTEGER},
      </if>
      <if test="friendMoney != null">
        #{friendMoney,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.UserFriend">
    UPDATE t_user_friend
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="friendUserName != null and friendUserName != ''">
        friend_user_name = #{friendUserName,jdbcType=VARCHAR},
      </if>
      <if test="friendUserHead != null and friendUserHead != ''">
        friend_user_head = #{friendUserHead,jdbcType=VARCHAR},
      </if>
      <if test="friendUserLevel != null">
        friend_user_level = #{friendUserLevel,jdbcType=INTEGER},
      </if>
      <if test="friendMoney != null">
        friend_money = #{friendMoney,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE user_id = #{userId,jdbcType=INTEGER}
      AND friend_user_id = #{friendUserId,jdbcType=INTEGER}
  </update>
</mapper>