<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.DeliveryCompanyDao">

    <resultMap id="DeliveryCompanyMap" type="com.honglinktech.zbgj.entity.DeliveryCompany">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="address" column="address"/>
        <result property="director" column="director"/>
        <result property="telephone" column="telephone"/>
        <result property="apiURL" column="api_url"/>
        <result property="apiAccount" column="api_account"/>
        <result property="apiCode" column="api_code"/>
        <result property="apiPassword" column="api_password"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.DeliveryCompany"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_delivery_company(name,code,address,director,telephone,api_url,api_account,api_code,api_password,create_time)
        VALUE
        (#{name},#{code},#{address},#{director},#{telephone},#{apiURL},#{apiAccount},#{apiCode},#{apiPassword},now())
    </insert>

    <update id="update" parameterType="com.honglinktech.zbgj.entity.DeliveryCompany">
        UPDATE tb_delivery_company
        SET
        name=#{name},
        code=#{code},
        address=#{address},
        director=#{director},
        telephone=#{telephone},
        api_url=#{apiURL},
        api_account=#{apiAccount},
        api_code=#{apiCode},
        api_password=#{apiPassword}
        WHERE
        id = #{id}
    </update>

    <delete id="delete"
            parameterType="int">
        DELETE FROM tb_delivery_company WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="int" resultMap="DeliveryCompanyMap">
        select * from tb_delivery_company where id = #{id}
    </select>


	<select id="findPage" resultMap="DeliveryCompanyMap">
        SELECT *
        FROM tb_delivery_company LIMIT #{start}, #{size}
    </select>
    
    <select id="findByCompanyCode" resultMap="DeliveryCompanyMap">
        SELECT *
        FROM tb_delivery_company where code = #{code}
    </select>
    
    <select id="findAll" resultMap="DeliveryCompanyMap">
        SELECT * FROM tb_delivery_company
    </select>

    <select id="countAll" resultType="long">
        SELECT count(1)
        FROM tb_delivery_company
    </select>
</mapper>
