<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.Kd100Dao">

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.ExpressDetail">
        INSERT  INTO tb_express_detail (express_no, context, time_node,address_node,push_time,is_sign_in,company_code) VALUES
        (
          #{expressNo},
          #{context},
          #{timeNode},
          #{addressNode},
          #{pushTime},
          #{IsSignIn},
          #{companyCode}
        )

    </insert>

    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.ExpressDetail">
        UPDATE   tb_express_detail SET delete_flag='Y' WHERE express_no= #{expressNo} AND  company_code = #{companyCode}
    </update>

    <select id="findExpressDetailByNum" resultType="com.honglinktech.zbgj.bean.ExpressDetailBean">
      SELECT time_node as timeNode, context,address_node as addressNode,is_sign_in as IsSignIn  from tb_express_detail
      WHERE express_no = #{expressNum} and company_code = #{company} AND delete_flag ='N' ORDER BY time_node
    </select>

</mapper>
