<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.FormatSubDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.FormatSub">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="format_name" jdbcType="VARCHAR" property="formatName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="vip_price" jdbcType="DECIMAL" property="vipPrice" />
    <result column="select" jdbcType="INTEGER" property="select" />
    <result column="args" jdbcType="VARCHAR" property="args" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, format_id, format_name, name, price, vip_price, select, args, delete_flag, sort, 
    create_time, update_time
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_format_sub
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    DELETE FROM t_format_sub
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.FormatSub">
    INSERT INTO t_format_sub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formatId != null">
        format_id,
      </if>
      <if test="formatName != null and formatName != ''">
        format_name,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="vipPrice != null">
        vip_price,
      </if>
      <if test="select != null">
        select,
      </if>
      <if test="args != null and args != ''">
        args,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="sort != null">
        sort,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formatId != null">
        #{formatId,jdbcType=INTEGER},
      </if>
      <if test="formatName != null and formatName != ''">
        #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="vipPrice != null">
        #{vipPrice,jdbcType=DECIMAL},
      </if>
      <if test="select != null">
        #{select,jdbcType=INTEGER},
      </if>
      <if test="args != null and args != ''">
        #{args,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.FormatSub">
    UPDATE t_format_sub
    <set>
      <if test="formatId != null">
        format_id = #{formatId,jdbcType=INTEGER},
      </if>
      <if test="formatName != null and formatName != ''">
        format_name = #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="vipPrice != null">
        vip_price = #{vipPrice,jdbcType=DECIMAL},
      </if>
      <if test="select != null">
        `select` = #{select,jdbcType=INTEGER},
      </if>
      <if test="args != null and args != ''">
        args = #{args,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      update_time = now(),
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--***************************************************************************************************-->
  <select id="findFormatSubByShoppingId" parameterType="java.lang.Integer" resultType="com.honglinktech.zbgj.bean.FormatSubBean">
      SELECT
        fs.id,
        fs.name,
        fs.price,
        fs.vip_price AS vipPrice,
        fs.args,
        fs.delete_flag AS deleteFlag,
        f.name AS format_name,
        f.need_price AS needPrice,
        f.delete_flag|fs.delete_flag AS deleteFlag
      FROM t_shopping_cart_format scf
      LEFT JOIN t_format_sub fs ON(scf.format_sub_id = fs.id)
      LEFT JOIN t_format f ON(fs.format_id = f.id);
      WHERE scf.shopping_cart_id = #{shoppingId,jdbcType=INTEGER};
  </select>
  <select id="findFormatSubByIds"  resultType="com.honglinktech.zbgj.bean.FormatSubBean">
    SELECT
      fs.id,
      fs.name,
      fs.price,
      fs.vip_price,
      fs.args,
      f.name AS format_name,
      f.need_price,
      f.delete_flag|fs.delete_flag AS delete_flag
    FROM t_format_sub AS fs LEFT JOIN t_format AS f ON(fs.format_id = f.id)
    WHERE 1=1
    <if test="ids != null and ids.size &gt; 0">
      AND fs.id IN
      <foreach collection="ids" item="id" index="index"
               open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>
  </select>
  <select id="findFormatSubByFormatId" parameterType="java.lang.Integer" resultType="com.honglinktech.zbgj.bean.FormatSubBean">
     SELECT
     id,
     `name`,
     price,
     vip_price,
     `select`,
     args
     FROM t_format_sub
     WHERE format_id = #{formatId}
     ORDER BY sort is null,sort ASC
  </select>

  <update id="delete" parameterType="java.lang.Integer">
    UPDATE t_format_sub set delete_flag = 1, update_time = now() WHERE id = #{id}
  </update>
</mapper>