<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GoodsTagDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.GoodsTag">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    goods_id, tag_id, create_time
  </sql>

  <select id="findById" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_goods_tag
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND tag_id = #{tagId,jdbcType=INTEGER}
  </select>

  <delete id="deleteById">
    DELETE FROM t_goods_tag
    WHERE 1=1
      <if test="goodsId != null">
        AND goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="tagId != null">
        AND tag_id = #{tagId,jdbcType=INTEGER}
      </if>
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.GoodsTag">
    INSERT INTO t_goods_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.GoodsTag">
    UPDATE t_goods_tag
    <set>
        update_time = now(),
    </set>
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
      AND tag_id = #{tagId,jdbcType=INTEGER}
  </update>


  <delete id="deleteByGoodsId">
    DELETE FROM t_goods_tag
    WHERE goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>

  <!--批量插入-->
  <insert id="saveBatch" parameterType="com.honglinktech.zbgj.entity.GoodsTag">
    INSERT INTO t_goods_tag(
    goods_id, tag_id, create_time
    )
    values
    <if test="goodsTags != null and goodsTags.size &gt; 0">
      <foreach collection="goodsTags" item="goodsTag" index="index"
               open="" close="" separator=",">
        (
        #{goodsTag.goodsId,jdbcType=INTEGER},
        #{goodsTag.tagId,jdbcType=INTEGER},
        now()
        )
      </foreach>
    </if>
  </insert>
</mapper>