<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GoodsDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="sales_num" jdbcType="INTEGER" property="salesNum" />
    <result column="keep_num" jdbcType="INTEGER" property="keepNum" />
    <result column="mark_price" jdbcType="DECIMAL" property="markPrice" />
    <result column="former_price" jdbcType="DECIMAL" property="formerPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discuss_num" jdbcType="INTEGER" property="discussNum" />
    <result column="hot_is" jdbcType="INTEGER" property="hotIs" />
    <result column="gifts_is" jdbcType="INTEGER" property="giftsIs" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_sub_id" jdbcType="INTEGER" property="typeSubId" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id,
    `name`,
    sub_name,
    sales_num,
    keep_num,
    mark_price,
    former_price,
    price,
    detail,
    discuss_num,
    hot_is,
    gifts_is,
    brand_id,
    type_id,
    type_sub_id,
    collect_num,
    status,
    img_url,
    sort,
    update_time,
    create_time
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_goods
    WHERE id = #{id,jdbcType=INTEGER}
    AND delete_flag = 0
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    UPDATE t_goods
    SET
    delete_flag = 1,
    update_time = now()
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.Goods"  useGeneratedKeys="true" keyProperty="id">
    INSERT INTO t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="salesNum != null">
        sales_num,
      </if>
      <if test="keepNum != null">
        keep_num,
      </if>
      <if test="markPrice != null">
        mark_price,
      </if>
      <if test="formerPrice != null">
        former_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discussNum != null">
        discuss_num,
      </if>
      <if test="hotIs != null">
        hot_is,
      </if>
      <if test="giftsIs != null">
        gifts_is,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeSubId != null">
        type_sub_id,
      </if>
      <if test="collectNum != null">
        collect_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
        update_time,
        create_time,
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeSubId != null">
        #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="collectNum != null">
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      now(),
      now(),
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.Goods">
    UPDATE t_goods
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        keep_num = #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="markPrice != null">
        mark_price = #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formerPrice != null">
        former_price = #{formerPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discussNum != null">
        discuss_num = #{discussNum,jdbcType=INTEGER},
      </if>
      <if test="hotIs != null">
        hot_is = #{hotIs,jdbcType=INTEGER},
      </if>
      <if test="giftsIs != null">
        gifts_is = #{giftsIs,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeSubId != null">
        type_sub_id = #{typeSubId,jdbcType=INTEGER},
      </if>
      <if test="collectNum != null">
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
      update_time = now(),
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
<!--****************************************************************************************************-->
  <select id="findVOById" parameterType="java.lang.Integer" resultType="com.honglinktech.zbgj.vo.GoodsVO">
    SELECT
        g.id,
        g.name,
        g.sub_name as subName,
        g.mark_price as markPrice,
        g.price,
        g.sales_num as salesNum,
        g.img_url as imgUrl,
        g.detail,
        g.former_price as formerPrice
        <if test="userId != null and userId > 0">
          ,(SELECt count(1)>0 from t_user_keep uk WHERE uk.user_id = #{userId} and uk.obj_id = g.id and uk.type = 1) as keep
        </if>
    FROM t_goods g
    WHERE g.delete_flag = 0
    AND g.status=1
    AND id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findGoodsByWhere" parameterType="map" resultType="com.honglinktech.zbgj.bean.GoodsBean">
    SELECT
      g.id,
      g.name,
      g.sub_name as subName,
      g.mark_price as markPrice,
      g.price,
      g.sales_num as salesNum,
      g.img_url as imgUrl
    FROM t_goods g
    <if test="userId != null">
      LEFT JOIN t_user_keep uk ON(g.id = uk.obj_id AND uk.type=1 AND uk.user_id=#{userId}
    </if>
    WHERE g.delete_flag = 0
    <if test="status!=null">
      AND g.status = #{status}
    </if>
    <if test="typeId!=null">
        AND g.type_id = #{typeId}
    </if>
    <if test="typeSubId!=null">
        AND g.type_sub_Id = #{typeSubId}
    </if>
    <if test="minPrice!=null">
        AND g.price <![CDATA[ >= ]]> #{minPrice}
    </if>
    <if test="maxPrice!=null">
        AND g.price <![CDATA[ <= ]]> #{maxPrice}
    </if>
    <if test="orderBy!=null and asc != null">
        ORDER BY g.#{orderBy},#{asc}
    </if>
    <if test="start != null and rows != null">
        limit #{start},#{rows}
    </if>
  </select>
  <!--####################################################console###################################################-->
  <!--console.获取商品分页-->
  <select id="findGoodsPage" parameterType="map" resultType="com.honglinktech.zbgj.bean.GoodsBean">
    SELECT
    g.id,
    g.name,
    g.sub_name as subName,
    g.mark_price as markPrice,
    g.price,
    g.sales_num as salesNum,
    g.img_url as imgUrl,
    g.status
    FROM t_goods g
    WHERE g.delete_flag = 0
    <if test="typeId!=null">
      AND g.type_id = #{typeId}
    </if>
    <if test="status!=null">
      AND g.status = #{status}
    </if>
    <if test="typeSubId!=null">
      AND g.type_sub_Id = #{typeSubId}
    </if>
    <if test="minPrice!=null">
      AND g.price <![CDATA[ >= ]]> #{minPrice}
    </if>
    <if test="maxPrice!=null">
      AND g.price <![CDATA[ <= ]]> #{maxPrice}
    </if>
    <if test="orderBy!=null and asc != null">
      ORDER BY g.#{orderBy},#{asc}
    </if>
    <if test="start != null and rows != null">
      limit #{start},#{rows}
    </if>
  </select>
  <!--console.获取商品总数-->
  <select id="findGoodsCount" parameterType="map" resultType="long">
    SELECT
    count(1)
    FROM t_goods g
    WHERE g.delete_flag = 0
    <if test="typeId!=null">
      AND g.type_id = #{typeId}
    </if>
    <if test="status!=null">
      AND g.status = #{status}
    </if>
    <if test="typeSubId!=null">
      AND g.type_sub_Id = #{typeSubId}
    </if>
    <if test="minPrice!=null">
      AND g.price <![CDATA[ >= ]]> #{minPrice}
    </if>
    <if test="maxPrice!=null">
      AND g.price <![CDATA[ <= ]]> #{maxPrice}
    </if>
  </select>
</mapper>