<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.GtagDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Gtag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="show_main" jdbcType="INTEGER" property="showMain" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, type, img, sale, title, subtitle, show_main, update_time, create_time
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_g_tag
    WHERE id = #{id,jdbcType=INTEGER}
    AND delete_flag = 0
  </select>

  <update id="deleteById" parameterType="java.lang.Integer">
    update t_g_tag set delete_flag = 0 , update_time = now()
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.Gtag" useGeneratedKeys="true" keyProperty="id">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
    INSERT INTO t_g_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="showMain != null">
        show_main,
      </if>
        update_time,
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=BIT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="showMain != null">
        #{showMain,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.Gtag">
    UPDATE t_g_tag
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=BIT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="showMain != null">
        show_main = #{showMain,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--######################################################################################-->
  <!---->
  <select id="findByWhere" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_g_tag
    WHERE delete_flag = 0
    <if test="start!=null and rows!=null">
      limit #{start},#{rows}
    </if>
  </select>
  <!---->
  <select id="findCount" parameterType="map" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM t_g_tag
    WHERE delete_flag = 0
  </select>
  <!---->
  <select id="findAllByGoodsId" parameterType="map" resultType="com.honglinktech.zbgj.bean.GoodsTagBean">
    SELECT
      t.`id`,
      t.`name`,
      t.`type`,
      t.`img`,
      t.`sale`,
      t.`title`,
      t.`subtitle`,
      t.`show_main` as showMain,
      t.`update_time` as updateTime,
      t.`create_time` as createTime,
      g.goods_id as goodsId
    FROM t_g_tag as t LEFT JOIN t_goods_tag g ON(t.id = g.tag_id and g.goods_id = #{goodsId})
    WHERE 1=1
    and t.sale = 1
    and t.delete_flag = 0
  </select>

</mapper>