<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderItemDao">
    <!-- Mappers -->
    <resultMap id="OrderItemMap" type="com.honglinktech.zbgj.entity.OrderItem">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="image" column="image"/>
        <result property="specId" column="spec_id"/>
        <result property="shiType" column="shi_type"/>
        <result property="online" column="online"/>
        <result property="number" column="number"/>
        <result property="styleName" column="style_name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.OrderItem"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_order_item(order_id,item_id,item_name,image,spec_id,shi_type,number,online,style_name,remark,create_time)
        VALUES
        (#{orderId},#{itemId},#{itemName},#{image},#{specId},#{shiType},#{number},#{online},#{styleName},#{remark},now())
    </insert>
    <!--更新-->
    <update id="update">
        UPDATE tb_order_item
        SET
        <if test="orderId != null">
        order_id = #{orderId},
        </if>
        <if test="itemId != null">
        item_id = #{itemId},
        </if>
        <if test="itemName != null">
        item_name = #{itemName},
        </if>
        <if test="image != null">
        image = #{image},
        </if>
        <if test="specId != null">
        spec_id = #{specId},
        </if>
        <if test="shiType != null">
        shi_type = #{shiType},
        </if>
        <if test="online != null">
        online = #{online},
        </if>
        <if test="number != null">
        number = #{number},
        </if>
        <if test="styleName != null">
        style_name = #{styleName},
        </if>
        <if test="remark != null">
        remark = #{remark},
        </if>
        id = #{id}
        WHERE
        id = #{id}
    </update>
    <!--更新-->
    <update id="delete">
        UPDATE tb_order_item
        SET
        delete_flag=1
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="OrderItemMap">
        SELECT *
        FROM tb_order_item
        WHERE id = #{id}
    </select>
    
    <select id="findByOrderId" resultMap="OrderItemMap">
        SELECT *
        FROM tb_order_item
        WHERE order_id = #{orderId} AND delete_flag != 1
    </select>
    <select id="findOrderItemBeanByOrderId" resultType="com.honglinktech.zbgj.bean.OrderItemBean">
        SELECT 
        oi.id,
		oi.item_id AS itemId,
		pi.name,
		pi.image,
		pi.fee,
		oi.shi_type AS shiType,
		oi.online,
		oi.number,
		oi.style_name AS styleName,
		oi.remark,
		oi.spec_id AS specId,
		spec.name AS specName,
		spec.prefix,
		spec.spe_show_unit AS specUnitPrice,
		spec.spe_type AS speType,
		spec.start_value AS specStartValue,
		spec.end_value AS specEndValue
        FROM tb_order_item oi LEFT JOIN tb_product_item pi ON(oi.item_id = pi.id) LEFT JOIN tb_specification spec ON(oi.spec_id = spec.id)
        WHERE oi.order_id = #{orderId} AND oi.delete_flag != 1
    </select>

</mapper>
