<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderAddressItemDao">
    <!--映射-->
    <resultMap id="OrderAddressItemMap" type="com.honglinktech.zbgj.entity.OrderAddressItem">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderAddressId" column="order_address_id"/>
        <result property="orderItemId" column="order_item_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--保存-->
    <insert id="save" parameterType="com.honglinktech.zbgj.entity.OrderAddressItem"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_order_address_item(order_id,order_address_id,order_item_id,number,create_time)
        VALUES
        (#{orderId},#{orderAddressId},#{orderItemId},#{number},now())
    </insert>

    <!--更新-->
    <update id="update">
        UPDATE tb_order_address_item
        SET
        order_id = #{orderId},
        order_address_id = #{addressId},
        order_item_id = #{orderItemId},
        number = #{number}
        WHERE
        id = #{id}
    </update>

    <!--删除-->
    <delete id="delete">
        DELETE FROM tb_order_address_item WHERE id = #{id}
    </delete>
    <!--删除-->
    <delete id="deleteByOrderIdANDItemId">
        DELETE FROM tb_order_address_item WHERE order_id = #{orderId} and order_item_id = #{orderItemId}
    </delete>
    <delete id="deleteByOrder">
        DELETE FROM tb_order_address_item WHERE order_id = #{orderId}
    </delete>
    <delete id="deleteByOrderIdANDOrderAddressId">
        DELETE FROM tb_order_address_item WHERE order_id = #{orderId} and order_address_id = #{orderAddressId}
    </delete>

    <select id="findById" resultMap="OrderAddressItemMap">
        SELECT * FROM tb_order_address_item WHERE id = #{id}
    </select>

	<select id="findByOrderId" resultMap="OrderAddressItemMap">
        SELECT
     	*
        FROM tb_order_address_item
        WHERE order_id = #{orderId}
    </select>
    <select id="findByOrderAddressId" resultMap="OrderAddressItemMap">
        SELECT
     	*
        FROM tb_order_address_item
        WHERE order_address_id = #{orderAddressId}
    </select>
    <select id="findOrderAddressItemBean" parameterType="String" resultType="com.honglinktech.zbgj.bean.OrderAddressItemBean">
 		SELECT 
				oai.order_id AS orderId,
       			oa.address_id AS addressId,
				oi.item_id AS itemId,
				oi.item_name AS name,
				oi.image,
				oi.spec_id AS specId,
				oai.number,
				oi.style_name AS styleName,
				address.type AS addressType
        FROM tb_order_address_item oai LEFT JOIN tb_order_address oa ON(oai.order_address_id = oa.id) LEFT JOIN tb_order_item oi ON(oai.order_item_id = oi.id) LEFT JOIN tb_address address ON(address.id = oa.address_id)
        WHERE 1=1
        <if test="orderId != null">
          AND oai.order_id = #{orderId}
        </if>
    </select>

</mapper>
