<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderStatusDao">
    <!-- Mappers -->
    <resultMap id="OrderStatusMap" type="com.honglinktech.zbgj.entity.OrderStatus">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="isRead" column="is_read"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.OrderStatus"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_order_status (order_id, name, remark, create_time, is_read)
        VALUES (#{orderId},#{name}, #{remark}, now(), false);
    </insert>

    <select id="findByOrderId" resultMap="OrderStatusMap">
        SELECT * FROM tb_order_status WHERE order_id = #{orderId}
    </select>

    <select id="countUnreadByUserId" parameterType="int" resultType="int">
        SELECT if(ifnull(null,0),0,COUNT(DISTINCT(o.id))) FROM tb_order_status os, tb_order o WHERE os.order_id = o.id
        AND os.is_read = FALSE AND o.user_id = #{userId} GROUP BY o.user_id;
    </select>

    <select id="findUnreadByUserId" parameterType="int" resultMap="OrderStatusMap">
        SELECT os.*
        FROM tb_order_status os, tb_order o
        WHERE os.order_id = o.id AND o.user_id = #{userId} AND os.is_read = FALSE
        GROUP BY os.order_id;
    </select>

    <update id="updateUnread">
        UPDATE tb_order_status
        SET is_read = TRUE
        WHERE order_id = #{orderId}
    </update>

    <update id="updateUserUnread">
        UPDATE tb_order_status os INNER JOIN tb_order o ON o.id = os.order_id
        SET os.is_read = TRUE
        WHERE os.is_read = FALSE AND o.user_id = #{userId};
    </update>
</mapper>
