<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderDao">

  <select id="findById" parameterType="java.lang.Integer" resultType="com.honglinktech.zbgj.entity.Order">
    SELECT 
      o.id,
      o.order_code as orderCode,
      o.user_id as userId,
      o.payment_id as paymentId,
      o.payment_name as paymentName,
      o.pay_status as payStatus,
      o.pay_reason as payReason,
      o.status,
      o.post_id as postId,
      o.post_name as postName,
      o.post_code as postCode,
      o.money,
      o.total_money as totalMoney,
      o.post_money as postMoney,
      o.lost_activity_money as lostActivityMoney,
      o.lost_coupon_money as lostCouponMoney,
      o.lost_money as lostMoney,
      o.invoice_is as invoiceIs,
      o.invoice_head as invoiceHead,
      o.address_id as addressId,
      o.address,
      o.zipcode,
      o.coupon_id as couponId,
      o.push,
      o.read,
      o.form,
      o.remark,
      o.explain,
      o.update_time as updateTime,
      o.create_time as createTime
    FROM t_order o
    WHERE o.id = #{id,jdbcType=INTEGER}
    AND o.delete_flag = 0
  </select>


  <select id="findBeanById" parameterType="java.lang.Integer" resultType="com.honglinktech.zbgj.bean.OrderBean">
    SELECT
    o.id,
    o.order_code as orderCode,
    o.user_id as userId,
    u.name as userName
    o.payment_id as paymentId,
    o.payment_name as paymentName,
    o.pay_status as payStatus,
    o.pay_reason as payReason,
    o.status,
    o.post_id as postId,
    o.post_name as postName,
    o.post_code as postCode,
    o.money,
    o.total_money as totalMoney,
    o.post_money as postMoney,
    o.lost_activity_money as lostActivityMoney,
    o.lost_coupon_money as lostCouponMoney,
    o.lost_money as lostMoney,
    o.invoice_is as invoiceIs,
    o.invoice_head as invoiceHead,
    o.address_id as addressId,
    o.address,
    o.zipcode,
    o.coupon_id as couponId,
    o.push,
    o.read,
    o.form,
    o.remark,
    o.explain,
    o.update_time as updateTime,
    o.create_time as createTime
    FROM t_order o
    left JOIN t_user u ON (o.user_id = u.id)
    WHERE o.id = #{id,jdbcType=INTEGER}
    AND o.delete_flag = 0
  </select>

  <update id="deleteById" parameterType="java.lang.Integer">
    update t_order set delete_flag = 1
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.Order">
    INSERT INTO t_order(
    id,
    order_code,
    user_id,
    payment_id,
    payment_name,
    pay_status,
    pay_reason,
    status,
    post_id,
    post_name,
    post_code,
    money,
    total_money,
    post_money,
    lost_activity_money,
    lost_coupon_money,
    lost_money,
    invoice_is,
    invoice_head,
    address_id,
    address,
    zipcode,
    coupon_id,
    push,
    `read`,
    `form`,
    remark,
    explain,
    update_time,
    create_time
    )VALUES(
    #{id},
    #{orderCode},
    #{userId},
    #{paymentId},
    #{paymentName},
    #{payStatus},
    #{payReason},
    #{status},
    #{postId},
    #{postName},
    #{postCode},
    #{money},
    #{totalMoney},
    #{postMoney},
    #{lostActivityMoney},
    #{lostCouponMoney},
    #{lostMoney},
    #{invoiceIs},
    #{invoiceHead},
    #{addressId},
    #{address},
    #{zipcode},
    #{couponId},
    #{push},
    #{read},
    #{form},
    #{remark},
    #{explain},
    now(),
    now()
    )
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.Order">
    UPDATE t_order
      <if test="orderCode != null">
        order_code = #{orderCode},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="paymentId != null">
        payment_Id = #{paymentId},
      </if>
      <if test="paymentName != null">
        payment_name = #{paymentName},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus},
      </if>
      <if test="payReason != null">
        pay_reason = #{payReason},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="postId != null">
        post_id = #{postId},
      </if>
      <if test="postName != null">
        post_name = #{postName},
      </if>
      <if test="postCode != null">
        post_code = #{postCode},
      </if>
      <if test="money != null">
        money = #{money},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney},
      </if>
      <if test="postMoney != null">
        post_money = #{postMoney},
      </if>
      <if test="lostActivityMoney != null">
        lost_activity_money = #{lostActivityMoney},
      </if>
      <if test="lostCouponMoney != null">
        lost_coupon_money = #{lostCouponMoney},
      </if>
      <if test="lostMoney != null">
        lost_money = #{lostMoney},
      </if>
      <if test="invoiceIs != null">
        invoice_is = #{invoiceIs},
      </if>
      <if test="invoiceHead != null">
        invoice_head = #{invoiceHead},
      </if>
      <if test="addressId != null">
        address_id = #{addressId},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="zipcode != null">
        zipcode = #{zipcode},
      </if>
      <if test="couponId != null">
        coupon_id = #{couponId},
      </if>
      <if test="push != null">
        push = #{push},
      </if>
      <if test="read != null">
        `read` = #{read},
      </if>
      <if test="form != null">
        `form` = #{form},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="explain != null">
        explain = #{explain},
      </if>
      update_time = now()
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--********************************************************************************************-->
  <!--条件查询列表-->
  <select id="findOrderByWhere" parameterType="map" resultType="com.honglinktech.zbgj.entity.Order">
    SELECT
    o.id,
    o.order_code as orderCode,
    o.user_id as userId,
    o.payment_id as paymentId,
    o.payment_name as paymentName,
    o.pay_status as payStatus,
    o.pay_reason as payReason,
    o.status,
    o.post_id as postId,
    o.post_name as postName,
    o.post_code as postCode,
    o.money,
    o.total_money as totalMoney,
    o.post_money as postMoney,
    o.lost_activity_money as lostActivityMoney,
    o.lost_coupon_money as lostCouponMoney,
    o.lost_money as lostMoney,
    o.invoice_is as invoiceIs,
    o.invoice_head as invoiceHead,
    o.address_id as addressId,
    o.address,
    o.zipcode,
    o.coupon_id as couponId,
    o.push,
    o.read,
    o.form,
    o.remark,
    o.explain,
    o.update_time as updateTime,
    o.create_time as createTime
    FROM t_order o
    WHERE o.delete_flag = 0
    <if test="userId != null">
        AND o.user_id = #{userId}
    </if>
    <if test="deleteFlag != null">
       AND o.delete_flag = #{deleteFlag}
    </if>
    <if test="orderBy != null and asc != null">
       ORDER BY o.#{orderBy}, #{asc}
    </if>
    <if test="orderBy == null || asc == null">
        ORDER BY o.id, desc
    </if>
    <if test="start == null || rows == null">
        limit #{start},#{rows}
    </if>
  </select>

  <!--consle查询订单列表-->
  <select id="findByWhere" parameterType="map" resultType="com.honglinktech.zbgj.bean.OrderSimpleBean">
    SELECT
      o.id,
      o.order_code as orderCode,
      o.user_id as userId,
      u.account,
      u.phone,
      o.money,
      o.total_money as totalMoney,
      o.payment_Id as paymentId,
      o.payment_name as paymentName,
      o.pay_status as payStatus,
      o.status,
      o.post_id as postId,
      o.post_name as postName,
      o.update_time as updateTime,
      o.create_time as createTime
    FROM t_order o
    LEFT JOIN t_user u ON(o.user_id = u.id)
    WHERE o.delete_flag = 0
    <if test="paymentId != null">
      AND o.payment_Id = #{paymentId}
    </if>
    <if test="keyword != null">
      AND (o.order_code like CONCAT('%','${keyword}','%' ) OR u.account like CONCAT('%','${keyword}','%' ) OR u.phone like CONCAT('%','${keyword}','%' ))
    </if>
    <if test="deleteFlag != null">
      AND o.delete_flag = #{deleteFlag}
    </if>
    <if test="payStatus != null">
      AND o.pay_status = #{payStatus}
    </if>
    <if test="status != null">
      AND o.status = #{status}
    </if>
    <if test="orderBy != null and asc != null">
      ORDER BY o.#{orderBy} #{asc}
    </if>
    <if test="orderBy == null or asc == null">
      ORDER BY o.create_time desc
    </if>
    <if test="start != null and rows != null">
      limit #{start},#{rows}
    </if>
  </select>
  <!--console 获取数量-->
  <select id="findCount" parameterType="map" resultType="int">
    SELECT
      count(1)
    FROM t_order o
    <if test="keyword != null">
    LEFT JOIN t_user u ON(o.user_id = u.id)
    </if>
    WHERE o.delete_flag = 0
    <if test="paymentId != null">
      AND o.payment_Id = #{paymentId}
    </if>
    <if test="keyword != null">
      AND (o.order_code like CONCAT('%','${keyword}','%' ) OR u.account like CONCAT('%','${keyword}','%' ) OR u.phone like CONCAT('%','${keyword}','%' ))
    </if>
    <if test="payStatus != null">
      AND o.pay_status = #{payStatus}
    </if>
    <if test="status != null">
      AND o.status = #{status}
    </if>
  </select>
</mapper>