<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderAddressDao">
    <!--映射-->
    <resultMap id="OrderAddressMap" type="com.honglinktech.zbgj.entity.OrderAddress">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="addressId" column="address_id"/>
        <result property="fee" column="fee"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--保存-->
    <insert id="save" parameterType="com.honglinktech.zbgj.entity.OrderAddress"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_order_address(order_id,address_id,fee,create_time)
        VALUES
        (#{orderId},#{addressId},#{fee},now())
    </insert>

    <!--更新-->
    <update id="update">
        UPDATE tb_order_address
        SET
        order_id = #{orderId},
        address_id = #{addressId},
        fee = #{fee}
        WHERE
        id = #{id}
    </update>

    <!--删除-->
    <delete id="delete">
        DELETE FROM tb_order_address WHERE id = #{id}
    </delete>
     <!--删除-->
    <delete id="deleteByOrderIdANDOrderAddressId">
        DELETE FROM tb_order_address WHERE order_id = #{orderId} and id = #{orderAddressId}
    </delete>

    <select id="findById" resultMap="OrderAddressMap">
        SELECT * FROM tb_order_address WHERE id = #{id}
    </select>

    <select id="findByOrderId" resultMap="OrderAddressMap">
        SELECT
     	*
        FROM tb_order_address
        WHERE order_id = #{orderId}
    </select>
    <select id="findOrderAddressBeanByOrderId" resultType="com.honglinktech.zbgj.bean.OrderAddressBean">
       SELECT 
       oa.id,
       oa.order_id AS orderId,
       oa.address_id AS addressId,
       oa.fee,
       oa.create_time AS createTime,
       a.path,
       a.detail,
       a.user_name AS userName,
       a.telephone,
       a.type,
       a.illustrate
       FROM tb_order_address oa LEFT JOIN tb_address a ON(oa.address_id = a.id)
        WHERE order_id = #{orderId}
    </select>
    
    

</mapper>
