<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.OrderImageDao">
    <!-- Mappers -->
    <resultMap id="OrderImageMap" type="com.honglinktech.zbgj.entity.OrderImage">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="image" column="image"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.OrderItem"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_order_image(order_id,item_id,image,create_time)
        VALUES
        (#{orderId},#{itemId},#{image},now())
    </insert>
    <!--更新-->
    <update id="update">
        UPDATE tb_order_image
        SET
        <if test="orderId != null">
        order_id = #{orderId},
        </if>
        <if test="itemId != null">
        item_id = #{itemId},
        </if>
        <if test="image != null">
        image = #{image},
        </if>
        id = #{id}
        WHERE
        id = #{id}
    </update>
    <!--更新-->
    <update id="delete">
        UPDATE tb_order_image
        SET
        delete_flag=1
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="OrderImageMap">
        SELECT *
        FROM tb_order_image
        WHERE id = #{id}
    </select>
    
    <select id="findByOrderId" resultMap="OrderImageMap">
        SELECT *
        FROM tb_order_image
        WHERE order_id = #{orderId} AND delete_flag != 1
    </select>

</mapper>
