<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PackItemDao">

    <!-- Mappers -->
    <resultMap id="PackItemMap" type="com.honglinktech.zbgj.entity.PackItem">
        <id property="id" column="id"/>
        <result property="packId" column="pack_id"/>
        <result property="orderId" column="order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="image" column="image"/>
        <result property="specId" column="spec_id"/>
        <result property="shiType" column="shi_type"/>
        <result property="number" column="number"/>
        <result property="styleName" column="style_name"/>
        <result property="remark" column="remark"/>
        <result property="online" column="online"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.Pack"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_pack_item
        (
        pack_id,
        order_id,
        item_id,
        item_name,
        image,
        spec_id,
        shi_type,
        number,
        style_name,
        remark,
        online,
        create_time
        )
        VALUES
        (
        #{packId},
        #{orderId},
        #{itemId},
        #{itemName},
        #{image},
        #{specId},
        #{shiType},
        #{number},
        #{styleName},
        #{remark},
        #{online},
        now()
        )
    </insert>

    <!-- 更新-->
    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.PackItem">
        UPDATE tb_pack_item
        SET
        <if test="packId!=null">
        pack_id=#{packId},
        </if>
        <if test="orderId!=null">
        order_id=#{orderId},
        </if>
        <if test="itemId!=null">
        item_id=#{itemId},
        </if>
        <if test="itemName!=null">
        item_name=#{itemName},
        </if>
        <if test="image!=null">
        image=#{image},
        </if>
        <if test="specId!=null">
        spec_id=#{specId},
        </if>
        <if test="number!=null">
        number=#{number},
        </if>
        <if test="styleName!=null">
        style_name=#{styleName},
        </if>
        <if test="remark!=null">
        remark=#{remark},
        </if>
        <if test="online!=null">
        online=#{online},
        </if>
        id = #{id}
        WHERE
        id = #{id}
    </update>

    <!-- 删除-->
    <update id="delete"
            parameterType="int">
        UPDATE tb_pack_item
        SET
        delete_flag=1
        WHERE
        id = #{id}
    </update>

    <select id="findById"
            parameterType="int"
            resultMap="PackItemMap">
        select
        *
        from tb_pack_item WHERE id = #{id}
    </select>
    <select id="findPackItemByPackId"
            parameterType="int"
            resultType="com.honglinktech.zbgj.bean.PackItemBean">
         select
        		packItem.item_name AS itemName,
        		packItem.item_id AS itemId,
        		packItem.order_id AS orderId,
        		packItem.image,
        		packItem.style_name AS styleName,
        		packItem.number,
        		packItem.online,
				spec.name AS specName,
				spec.prefix,
				spec.spe_show_unit AS specUnitPrice,
				spec.spe_type AS specType,
				spec.start_value AS specStartValue,
				spec.end_value AS specEndValue
        from tb_pack_item packItem LEFT JOIN tb_specification spec ON(packItem.spec_id = spec.id)
		WHERE pack_id = #{packId}
    </select>
    <select id="exportPackItem"
            parameterType="Map"
            resultType="com.honglinktech.zbgj.bean.PackItemBean">
         select
         		packItem.pack_id AS packId,
        		packItem.item_name AS itemName,
        		packItem.item_id AS itemId,
        		packItem.order_id AS orderId,
        		packItem.image,
        		packItem.style_name AS styleName,
        		packItem.number,
        		packItem.online,
        		packItem.create_time as createTime,
        		pack.express_no as expressNo,
        		pack.user_id as userId,
        		pack.user_name as userName,
        		pack.telephone as telephone,
        		pack.address,
        		dc.name as deliveryCompanyName,
				spec.name AS specName,
				spec.prefix,
				spec.spe_show_unit AS specUnitPrice,
				spec.spe_type AS specType,
				spec.start_value AS specStartValue,
				spec.end_value AS specEndValue
		        FROM tb_pack_item packItem 
		        LEFT JOIN tb_pack pack ON(packItem.pack_id = pack.id)
		        LEFT JOIN tb_delivery_company dc ON(dc.id = pack.delivery_company_id) 
		        LEFT JOIN tb_specification spec ON(packItem.spec_id = spec.id)
				WHERE packItem.delete_flag = 0
				<if test="key!=null">
					AND (pack.user_name LIKE CONCAT('%',"${key}",'%')
						OR pack.telephone LIKE CONCAT('%',"${key}",'%'))
				</if>
				ORDER BY packItem.pack_id DESC,packItem.order_id DESC, packItem.item_id DESC;
    </select>
</mapper>
