<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PackDao">

    <!-- Mappers -->
    <resultMap id="PackMap" type="com.honglinktech.zbgj.entity.Pack">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="deliveryCompanyId" column="delivery_company_id"/>
        <result property="expressNo" column="express_no"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="telephone" column="telephone"/>
        <result property="addressId" column="address_id"/>
        <result property="address" column="address"/>
        <result property="addrUser" column="addr_user"/>
        <result property="addrType" column="addr_type"/>
        <result property="addrTelephone" column="addr_telephone"/>
        <result property="illustrate" column="illustrate"/>
        <result property="status" column="status"/>
        <result property="read" column="is_read"/>
        <result property="remark" column="remark"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.Pack"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_pack
        (
        name,
        express_no,
        delivery_company_id,
        user_id,
        user_name,
        telephone,
        address_id,
        address,
        addr_user,
        addr_type,
        addr_telephone,
        illustrate,
        status,
        remark,
        create_time
        )
        VALUES
        (
        #{name},
        #{expressNo},
        #{deliveryCompanyId},
        #{userId},
        #{userName},
        #{telephone},
        #{addressId},
        #{address},
        #{addrUser},
        #{addrType},
        #{addrTelephone},
        #{illustrate},
        #{status},
        #{remark},
        now()
        )
    </insert>

    <!-- 更新-->
    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.Pack">
        UPDATE tb_pack
        SET
        <if test="name!=null">
        name=#{name},
        </if>
        <if test="expressNo!=null">
        express_no=#{expressNo},
        </if>
        <if test="deliveryCompanyId!=null">
        delivery_company_id=#{deliveryCompanyId},
        </if>
        <if test="userId!=null">
        user_id=#{userId},
        </if>
       	<if test="userName!=null">
        user_name=#{userName},
        </if>
        <if test="telephone!=null">
        telephone=#{telephone},
        </if>
        <if test="addressId!=null">
        address_id=#{addressId},
        </if>
        <if test="address!=null">
        address=#{address},
        </if>
        <if test="addrUser!=null">
        addr_user=#{addrUser},
        </if>
        <if test="addrType!=null">
        addr_type=#{addrType},
        </if>
        <if test="addrTelephone!=null">
        addr_telephone=#{addrTelephone},
        </if>
        <if test="illustrate!=null">
        illustrate=#{illustrate},
        </if>
        <if test="status!=null">
        status=#{status},
        </if>
        <if test="remark!=null">
        remark=#{remark},
        </if>
        id = #{id}
        WHERE
        id = #{id}
    </update>
      <!-- 更新-->
    <update id="updatePackSign" >
        UPDATE tb_pack
        SET
       	status = #{status}
        WHERE
        express_no = #{expressNo}
    </update>
    <!-- 删除-->
    <update id="delete"
            parameterType="int">
        UPDATE tb_pack
        SET
        delete_flag=1
        WHERE
        id = #{id}
    </update>

    <select id="findById"
            parameterType="int"
            resultMap="PackMap">
        select
        *
        from tb_pack WHERE id = #{id}
    </select>
    <select id="findUserPackList" parameterType="map" resultType="com.honglinktech.zbgj.bean.PackUserBean">
    SELECT 
    tb.user_id AS userId,
    tb.user_name AS userName,
    tb.telephone,
    sum(waitShipNum) AS waitShipNum,
    sum(packNum) AS packNum 
    FROM (
		(SELECT si.user_id,si.user_name,si.telephone,sum(si.number) AS waitShipNum, 0 AS packNum FROM tb_ship_item si WHERE si.status=1 AND si.delete_flag=0 
		<if test="key!=null">
            AND (si.telephone LIKE CONCAT('%',"${key}",'%') 
            	 OR si.user_name LIKE CONCAT('%',"${key}",'%') ) 
        </if>
		GROUP BY si.user_id)
		UNION ALL
		(SELECT p.user_id,p.user_name,p.telephone,0 AS waitShipNum,sum(pi.number) AS packNum FROM tb_pack p LEFT JOIN tb_pack_item pi ON p.id=pi.pack_id 
		where 1=1
		<if test="key!=null">
            AND (p.telephone LIKE CONCAT('%',"${key}",'%') 
            	 OR p.user_name LIKE CONCAT('%',"${key}",'%') ) 
        </if>
		GROUP BY p.user_id)
		) AS tb 
	GROUP BY userId
	ORDER BY waitShipNum DESC,packNum DESC
	<if test="start!=null and rows!=null">
        limit #{start},#{rows}
    </if>
    </select>
    <select id="findUserPackListCount" resultType="int">
    SELECT count(1) FROM (
		SELECT 
	    1
	    FROM (
			(SELECT si.user_id FROM tb_ship_item si WHERE si.status=1 AND si.delete_flag=0 GROUP BY si.user_id)
			UNION ALL
			(SELECT p.user_id FROM tb_pack p LEFT JOIN tb_pack_item pi ON p.id=pi.pack_id GROUP BY p.user_id)
			) AS tb 
		GROUP BY tb.user_id
	) AS tb1
    </select>
    
    <select id="findPackListByUserId" resultMap="PackMap">
    SELECT * FROM tb_pack where user_id = #{userId}
    ORDER BY status,create_time DESC
    <if test="start!=null and rows!=null">
            limit #{start},#{rows}
    </if>
    </select>
    <select id="findPackBeanListByUserId" resultType="com.honglinktech.zbgj.bean.PackBean">
	  SELECT
	    pack.id,
	    pack.`name`,
	    pack.express_no AS expressNo,
	    pack.delivery_company_id AS deliveryCompanyId,
	    pack.user_id AS userId,
	    pack.user_name AS userName,
	    pack.telephone,
	    pack.address_id AS addressId,
	    pack.addr_type AS addrType,
	    pack.address AS address,
	    pack.addr_user AS addrUser,
	    pack.addr_telephone AS addrTelephone,
	    pack.illustrate AS illustrate,
	    pack.remark AS remark,
	    pack.is_read AS `read`,
	    pack.status AS `status`,
	    dc.name AS deliveryCompanyName,
	    dc.code AS deliveryCompanyCode
	    FROM tb_pack pack LEFT JOIN tb_delivery_company dc ON(pack.delivery_company_id = dc.id)
	    where user_id = #{userId}
	    ORDER BY pack.status,pack.create_time DESC
	    <if test="start!=null and rows!=null">
	    limit #{start},#{rows}
	    </if>
    </select>
    <select id="findPackListCount" resultType="int">
    SELECT count(1) FROM tb_pack where user_id = #{userId}
    </select>
    <select id="statusUnread" resultType="int">
        select count(1) from tb_pack where user_id = #{userId} AND is_read=0 
    </select>
    <update id="updateReadPack">
        update tb_pack set is_read=1 where user_id = #{userId} AND is_read=0 
    </update>
    <select id="findByexpressNo" 
            parameterType="String"
            resultMap="PackMap">
        select * from tb_pack where express_no = #{expressNo}
    </select>
    
    
</mapper>
