<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PaymentDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Payment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="rev_account" jdbcType="VARCHAR" property="revAccount" />
    <result column="pay_url" jdbcType="VARCHAR" property="payUrl" />
    <result column="check" jdbcType="INTEGER" property="check" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code, icon, `name`, `type`, rev_account, pay_url, `check`, delete_flag, create_time, update_time
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_payment
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_payment
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.Payment">
    INSERT INTO t_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="revAccount != null">
        rev_account,
      </if>
      <if test="payUrl != null">
        pay_url,
      </if>
      <if test="check != null">
        check,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="revAccount != null">
        #{revAccount,jdbcType=VARCHAR},
      </if>
      <if test="payUrl != null">
        #{payUrl,jdbcType=VARCHAR},
      </if>
      <if test="check != null">
        #{check,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.Payment">
    UPDATE t_payment
    <set>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="revAccount != null">
        rev_account = #{revAccount,jdbcType=VARCHAR},
      </if>
      <if test="payUrl != null">
        pay_url = #{payUrl,jdbcType=VARCHAR},
      </if>
      <if test="check != null">
        check = #{check,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      update_time = now(),
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--******************************************************************************************************-->
  <!--App-->
  <select id="findBeanByWhere" parameterType="map" resultType="com.honglinktech.zbgj.bean.PaymentBean">
    SELECT
    p.id,
    p.icon,
    p.name,
    p.type,
    p.rev_account as revAccount,
    p.pay_url as payUrl,
    p.check
    , IF(pu.id>0, true, false) AS checked
    FROM t_payment p LEFT JOIN t_payment_user pu ON(p.id = pu.payment_id
    <if test="userId != null">
        AND pu.user_id = #{userId,jdbcType=INTEGER}
    </if>
    )
    WHERE p.delete_flag = 0
    <if test="id != null">
        AND p.id = #{id}
    </if>
  </select>

  <select id="findByCode" parameterType="String" resultType="com.honglinktech.zbgj.entity.Payment">
    SELECT
    p.id,
    p.code,
    p.icon,
    p.name,
    p.type,
    p.rev_account as revAccount,
    p.pay_url as payUrl,
    p.check
    FROM t_payment p
    WHERE p.delete_flag = 0
    AND p.code = #{code}
  </select>
</mapper>