<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PaymentDao">
    <!-- Mappers -->
    <resultMap id="PaymentMap" type="com.honglinktech.zbgj.entity.Payment">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="moneyPayType" column="pay_type"/>
        <result property="totalGold" column="total_gold"/>
        <result property="payGold" column="pay_gold"/>
        <result property="totalFee" column="total_fee"/>
        <result property="payFee" column="pay_fee"/>
        <result property="payGoldAccount" column="pay_gold_account"/>
        <result property="payGoldOperatorId" column="pay_gold_operator_id"/>
        <result property="payGoldOperatorName" column="pay_gold_operator_name"/>
        <result property="payGoldOperateTime" column="pay_gold_operate_time"/>
        <result property="payFeeAccount" column="pay_fee_account"/>
        <result property="payFeeOperatorId" column="pay_fee_operator_id"/>
        <result property="payFeeOperatorName" column="pay_fee_operator_name"/>
        <result property="payFeeOperateTime" column="pay_fee_operate_time"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="thirdResult" column="third_result"/>
        <result property="createTime" column="create_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="success" column="is_success"/>
        <result property="finish" column="is_finish"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.Payment"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_payment(order_id,pay_type,total_gold,pay_gold,total_fee,pay_fee,pay_fee_account,pay_gold_account,
        pay_gold_operator_id,pay_gold_operator_name,pay_gold_operate_time,pay_fee_operator_id,pay_fee_operator_name,pay_fee_operate_time,
        trade_no,third_result,create_time,finish_time,is_success,is_finish)
        VALUES
        (#{orderId},#{moneyPayType},#{totalGold},#{payGold},#{totalFee},#{payFee},#{payFeeAccount},#{payGoldAccount},
        #{payGoldOperatorId},#{payGoldOperatorName},#{payGoldOperateTime},#{payFeeOperatorId},#{payFeeOperatorName},#{payFeeOperateTime},
        #{tradeNo},#{thirdResult},now(),#{finishTime},#{success},#{finish})
    </insert>

    <!--删除-->
    <update id="update">
        UPDATE tb_payment
        SET
        order_id = #{orderId},
        pay_type = #{moneyPayType},
        total_gold = #{totalGold},
        pay_gold = #{payGold},
        total_fee = #{totalFee},
        pay_fee = #{payFee},
        pay_fee_account = #{payFeeAccount},
        pay_gold_account = #{payGoldAccount},
        pay_gold_operator_id = #{payGoldOperatorId},
        pay_gold_operator_name = #{payGoldOperatorName},
        pay_gold_operate_time = #{payGoldOperateTime},
        pay_fee_operator_id = #{payFeeOperatorId},
        pay_fee_operator_name = #{payFeeOperatorName},
        pay_fee_operate_time = #{payFeeOperateTime},
        trade_no = #{tradeNo},
        third_result = #{thirdResult},
        create_time = #{createTime},
        finish_time = #{finishTime},
        is_success = #{success},
        is_finish = #{finish}
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="PaymentMap">
        SELECT * FROM tb_payment WHERE id = #{id}
    </select>

    <select id="findByOrderId" resultMap="PaymentMap">
        SELECT * FROM tb_payment WHERE order_id = #{orderId}
    </select>

</mapper>
