<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PostDetailDao">

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.PostDetail">
        INSERT INTO t_post_detail (
        post_code,
        context,
        time_node,
        address_node,
        push_time,
        is_sign_in,
        company_code)
        VALUES(
          #{expressNo},
          #{context},
          #{timeNode},
          #{addressNode},
          #{pushTime},
          #{IsSignIn},
          #{companyCode}
        )

    </insert>

    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.PostDetail">
        UPDATE t_post_detail
        SET delete_flag='Y'
        WHERE post_code= #{postCode}
        AND  company_code = #{companyCode}
    </update>

    <select id="findPostDetailByNum" resultType="com.honglinktech.zbgj.bean.PostDetailBean">
      SELECT
      time_node as timeNode,
      context,
      address_node as addressNode,
      is_sign_in as IsSignIn
      from t_post_detail
      WHERE post_code = #{expressNum}
      and company_code = #{company}
      AND delete_flag ='N'
      ORDER BY time_node
    </select>

    <select id="findByWhere" resultType="com.honglinktech.zbgj.entity.PostDetail">
        SELECT
        time_node as timeNode,
        context,
        address_node as addressNode,
        is_sign_in as IsSignIn
        from t_post_detail
        WHERE delete_flag ='N'
        <if test="postCode != null">
            AND post_code = #{postCode}
        </if>
        <if test="companyCode != null">
            and company_code = #{companyCode}
        </if>

        ORDER BY time_node
    </select>

</mapper>
