<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.PostDetailDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.PostDetail">
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="address_node" jdbcType="VARCHAR" property="addressNode" />
    <result column="time_node" jdbcType="TIMESTAMP" property="timeNode" />
    <result column="push_time" jdbcType="TIMESTAMP" property="pushTime" />
    <result column="is_sign_in" jdbcType="CHAR" property="isSignIn" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>

  <sql id="Base_Column_List">
    post_code,context,address_node,time_node,push_time,is_sign_in,company_code,delete_flag
  </sql>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.PostDetail">
    INSERT INTO t_post_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postCode != null and postCode != ''">
        post_code,
      </if>
      <if test="context != null and context != ''">
        context,
      </if>
      <if test="addressNode != null and addressNode != ''">
        address_node,
      </if>
      <if test="timeNode != null">
        time_node,
      </if>
      <if test="pushTime != null">
        push_time,
      </if>
      <if test="isSignIn != null">
        is_sign_in,
      </if>
      <if test="companyCode != null and companyCode != ''">
        company_code,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postCode != null and postCode != ''">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="context != null and context != ''">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="addressNode != null and addressNode != ''">
        #{addressNode,jdbcType=VARCHAR},
      </if>
      <if test="timeNode != null">
        #{timeNode,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null">
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSignIn != null">
        #{isSignIn,jdbcType=CHAR},
      </if>
      <if test="companyCode != null and companyCode != ''">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <!--****************************************************************************************-->
  <select id="findByWhere" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_post_detail
    WHERE 1=1
    <if test="postCode != null">
        AND post_code = ${postCode}
    </if>
    <if test="deleteFlag != null">
        AND delete_flag = ${deleteFlag}
    </if>
  </select>
</mapper>