<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.ProductItemImagesDao">
    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.ProductItemImages"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_product_item_images
        (
        product_item_id,
        images,
        sort,
        update_date,
        delete_flag
        )
        VALUES
        (
        #{productItemId},
        #{images},
        #{sort},
        now(),
        #{deleteFlag}
        )
    </insert>


    <!-- 更新-->
    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.ProductItemImages">
        UPDATE tb_product_item_images
        SET
        <if test="productItemId!=null">
            product_item_id= #{productItemId},
        </if>
        <if test="images!=null">
            images= #{images},
        </if>
        <if test="sort!=null">
            sort= #{sort},
        </if>
        <if test="deleteFlag!=null">
            delete_flag= #{deleteFlag},
        </if>
        update_date= now()
        WHERE
        id = #{id}
    </update>

    <!--查询单品的轮播图-->
    <select id="findByProId" parameterType="int"
            resultType="com.honglinktech.zbgj.entity.ProductItemImages">
        SELECT
        id,
        product_item_id as productItemId,
        images,
        sort
        FROM tb_product_item_images
        WHERE delete_flag=0 AND product_item_id=#{productItemId} order by sort is null,sort ASC ,update_date asc,id ASC
    </select>

    <!-- 删除-->
    <update id="delete"
            parameterType="int">
        UPDATE tb_product_item_images
        SET
        delete_flag=1,
        update_date=now()
        WHERE
        id = #{id}
    </update>
    <update id="deleteByProductItemId"
            parameterType="int">
        DELETE FROM tb_product_item_images WHERE product_item_id = #{productItemId}
    </update>


</mapper>