<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.RegionDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.Region">
    <id column="region_id" jdbcType="DOUBLE" property="regionId" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="parent_id" jdbcType="DOUBLE" property="parentId" />
    <result column="region_level" jdbcType="DOUBLE" property="regionLevel" />
    <result column="region_order" jdbcType="DOUBLE" property="regionOrder" />
    <result column="region_name_en" jdbcType="VARCHAR" property="regionNameEn" />
    <result column="region_shortname_en" jdbcType="VARCHAR" property="regionShortnameEn" />
  </resultMap>

  <sql id="Base_Column_List">
    region_id, region_code, region_name, parent_id, region_level, region_order, region_name_en, 
    region_shortname_en
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Double" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_region
    WHERE region_id = #{regionId,jdbcType=DOUBLE}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Double">
    DELETE FROM t_region
    WHERE region_id = #{regionId,jdbcType=DOUBLE}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.Region">
    INSERT INTO t_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        region_id,
      </if>
      <if test="regionCode != null and regionCode != ''">
        region_code,
      </if>
      <if test="regionName != null and regionName != ''">
        region_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="regionLevel != null">
        region_level,
      </if>
      <if test="regionOrder != null">
        region_order,
      </if>
      <if test="regionNameEn != null and regionNameEn != ''">
        region_name_en,
      </if>
      <if test="regionShortnameEn != null and regionShortnameEn != ''">
        region_shortname_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=DOUBLE},
      </if>
      <if test="regionCode != null and regionCode != ''">
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null and regionName != ''">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="regionLevel != null">
        #{regionLevel,jdbcType=DOUBLE},
      </if>
      <if test="regionOrder != null">
        #{regionOrder,jdbcType=DOUBLE},
      </if>
      <if test="regionNameEn != null and regionNameEn != ''">
        #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null and regionShortnameEn != ''">
        #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.Region">
    UPDATE t_region
    <set>
      <if test="regionCode != null and regionCode != ''">
        region_code = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null and regionName != ''">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="regionLevel != null">
        region_level = #{regionLevel,jdbcType=DOUBLE},
      </if>
      <if test="regionOrder != null">
        region_order = #{regionOrder,jdbcType=DOUBLE},
      </if>
      <if test="regionNameEn != null and regionNameEn != ''">
        region_name_en = #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null and regionShortnameEn != ''">
        region_shortname_en = #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE region_id = #{regionId,jdbcType=DOUBLE}
  </update>
</mapper>