<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.RoleDao">

    <!-- Mappers -->
    <resultMap id="RoleMap" type="com.honglinktech.zbgj.entity.Role">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="desc" column="description"/>
    </resultMap>

    <insert id="save" parameterType="com.honglinktech.zbgj.entity.Role"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_role(type,name,description)
        VALUES
        (#{type},#{name},#{desc})
    </insert>

    <update id="update">
        UPDATE tb_role
        SET
        type = #{type},
        name = #{name},
        description = #{desc}
        WHERE
        id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tb_role
        WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="RoleMap">
        SELECT * FROM tb_role WHERE id = #{id}
    </select>

    <select id="findByUserId" resultMap="RoleMap">
        SELECT r.* FROM tb_role r, tb_admin_role ul WHERE r.id = ul.role_id AND ul.admin_id = #{adminId}
    </select>

	<select id="findAll" resultMap="RoleMap">
        SELECT * FROM tb_role
    </select>
    
    <select id="findPage" resultMap="RoleMap">
        SELECT *
        FROM tb_role LIMIT #{start}, #{size}
    </select>

    <select id="countAll" resultType="Long">
        SELECT count(1)
        FROM tb_role
    </select>

    <select id="findMembers" resultType="Integer">
        SELECT ur.admin_id
        FROM tb_admin_role ur
        WHERE ur.role_id = #{id}
    </select>

    <insert id="addMember" parameterType="com.honglinktech.zbgj.entity.Role"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_admin_role(admin_id,role_id)
        VALUES
        (#{adminId},#{roleId})
    </insert>

    <delete id="deleteMember" parameterType="int">
        DELETE FROM tb_admin_role
        WHERE 1=1
        <if test="adminId!=null">
   			AND admin_id = #{adminId}
   		</if>
   		<if test="roleId!=null">
   			AND role_id = #{roleId}
        </if>
    </delete>

</mapper>
