<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.ShipmentModeDao">
    <!-- Mappers -->

    <select id="findById"
            parameterType="int"
            resultType="com.honglinktech.zbgj.entity.ShipmentMode">
        select
        p.id,
        p.rel_id as relId,
        p.rel_type as relType,
        p.name,
        p.shi_type as shiType,
        p.description,
        p.sort,
        p.create_user_id as createUserId,
        p.update_date as updateDate,
        p.delete_flag as deleteFlag,
        contact_person as contactPerson,
        contact_phone as contactPhone,
        remark_date as remarkDate
        from tb_shipment_mode as p where id = #{id}
    </select>

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.ShipmentMode"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_shipment_mode
        (
        rel_id,
        rel_type,
        <if test="name!=null">
            name,
        </if>
        <if test="shiType!=null">
            shi_type,
        </if>
        <if test="description!=null">
            description,
        </if>
        <if test="sort!=null">
            sort,
        </if>
        <if test="contactPerson!=null">
            contact_person,
        </if>
        <if test="contactPhone!=null">
            contact_phone,
        </if>
        <if test="remarkDate!=null">
            remark_date,
        </if>
        <if test="createUserId!=null">
            create_user_id,
        </if>
        update_date,
        delete_flag
        )
        VALUES
        (
        #{relId},
        #{relType},
        <if test="name!=null">
            #{name},
        </if>
        <if test="shiType!=null">
            #{shiType},
        </if>
        <if test="description!=null">
            #{description},
        </if>
        <if test="sort!=null">
            #{sort},
        </if>
        <if test="contactPerson!=null">
            #{contactPerson},
        </if>
        <if test="contactPhone!=null">
            #{contactPhone},
        </if>
        <if test="remarkDate!=null">
            #{remarkDate},
        </if>
        <if test="createUserId!=null">
            #{createUserId},
        </if>
        now(),
        #{deleteFlag}
        )
    </insert>

    <!-- 更新-->
    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.ShipmentMode">
        UPDATE tb_shipment_mode
        SET
        rel_id=#{relId},
        rel_type=#{relType},
        name=#{name},
        shi_type=#{shiType},
        description=#{description},
        contact_person=#{contactPerson},
        contact_phone=#{contactPhone},
        remark_date=#{remarkDate},
        <if test="sort!=null">
            sort=#{sort},
        </if>
        <if test="createUserId!=null">
            create_user_id=#{createUserId},
        </if>
        <if test="deleteFlag!=null">
            delete_flag= #{deleteFlag},
        </if>
        update_date=now()
        WHERE
        id = #{id}
    </update>

    <!--查询所有的-->
    <select id="findAllPage" resultType="com.honglinktech.zbgj.entity.ShipmentMode">
        SELECT
        p.id,
        p.rel_id as relId,
        p.rel_type as relType,
        p.name,
        p.shi_type as shiType,
        p.description,
        p.sort,
        p.contact_person as contactPerson,
        p.contact_phone as contactPhone,
        p.remark_date as remarkDate,
        p.create_user_id as createUserId,
        p.update_date as updateDate
        from tb_shipment_mode as p
        WHERE p.delete_flag=0 AND shi_type = #{type}
        LIMIT #{start}, #{size}
    </select>

    <select id="countByType" resultType="long">
        SELECT IFNULL(COUNT(1),0)
        FROM tb_shipment_mode
        WHERE delete_flag=0 AND shi_type = #{type}
    </select>

    <!--根据属性查询-->
    <select id="findShipmentModeByProperty" parameterType="map"
            resultType="com.honglinktech.zbgj.entity.ShipmentMode">
        SELECT
        p.id,
        p.rel_id as relId,
        p.rel_type as relType,
        p.name,
        p.shi_type as shiType,
        p.description,
        p.sort,
        contact_person as contactPerson,
        contact_phone as contactPhone,
        remark_date as remarkDate,
        p.create_user_id as createUserId,
        p.update_date as updateDate
        from tb_shipment_mode as p
        WHERE p.delete_flag=0
        <if test="relId!=null">
            AND p.rel_id=#{relId}
        </if>
        <if test="relType!=null">
            AND rel_type=#{relType}
        </if>
        <if test="name!=null">
            AND p.name=#{name}
        </if>
        <if test="shiType!=null">
            AND shi_type=#{shiType}
        </if>
        <if test="createUserId!=null">
            AND create_user_id=#{createUserId}
        </if>
        ORDER BY p.sort is null,p.sort ASC,p.update_date DESC
        <if test="start!=null and rows!=null">
            LIMIT #{start}, #{rows}
        </if>
    </select>

    <delete id="delete"
            parameterType="int">
        DELETE FROM tb_shipment_mode WHERE id = #{id}
    </delete>

    <delete id="deleteByRelIdAndRelType"
            parameterType="com.honglinktech.zbgj.entity.ShipmentMode">
        DELETE FROM tb_shipment_mode WHERE rel_id = #{relId} AND rel_type = #{relType}
    </delete>

</mapper>
