<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.ShoppingCartDao">
  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.ShoppingCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="mark_price" jdbcType="DECIMAL" property="markPrice" />
    <result column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="format_name" jdbcType="VARCHAR" property="formatName" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="checkbox" jdbcType="INTEGER" property="checkbox" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, goods_id, goods_name, image_url, price, mark_price, format_id, format_name, 
    num, checkbox, create_time, update_time
  </sql>

  <select id="fingById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_shopping_cart
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    DELETE FROM t_shopping_cart
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.ShoppingCart"
          useGeneratedKeys="true" keyProperty="id">
    INSERT INTO t_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="markPrice != null">
        mark_price,
      </if>
      <if test="formatId != null">
        format_id,
      </if>
      <if test="formatName != null">
        format_name,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="checkbox != null">
        checkbox,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="markPrice != null">
        #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formatId != null">
        #{formatId,jdbcType=INTEGER},
      </if>
      <if test="formatName != null">
        #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="checkbox != null">
        #{checkbox,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.ShoppingCart">
    UPDATE t_shopping_cart
    update_time = NOW(),
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="markPrice != null">
        mark_price = #{markPrice,jdbcType=DECIMAL},
      </if>
      <if test="formatId != null">
        format_id = #{formatId,jdbcType=INTEGER},
      </if>
      <if test="formatName != null">
        format_name = #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="checkbox != null">
        checkbox = #{checkbox,jdbcType=INTEGER},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--***********************************************************************************************************************************************-->
  <select id="findShoppingCartsByMap" parameterType="map" resultType="com.honglinktech.zbgj.bean.ShoppingCartBean">
        SELECT
        sc.id,
        sc.user_id AS userId,
        sc.goods_id AS goodsId,
        g.name,
        g.img_url AS imgUrl,
        g.price,
        g.mark_price AS markPrice,
        sc.format_id AS formatId,
        sc.format_name AS formatName,
        sc.num,
        sc.checkbox
        FROM t_shopping_cart sc
        LEFT JOIN t_goods g ON(sc.goods_id = g.id)
        WHERE 1 = 1
        <if test="userId!=null">
            AND sc.user_id = #{userId}
        </if>
        <if test="checkbox!=null">
            AND sc.checkbox = #{checkbox}
        </if>
        <if test="orderBy!=null and desc!=null">
            ORDER BY #{orderBy} #{desc}
        </if>
        <if test="start != null and rows != null">
            limit #{start},#{rows}
        </if>
  </select>

  <select id="findByWhere" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_shopping_cart
    WHERE 1 = 1
    <if test="userId!=null">
      AND user_id = #{userId}
    </if>
    <if test="goodsId!=null">
      AND goods_id = #{goodsId}
    </if>
    <if test="orderBy!=null and asc!=null">
      ORDER BY #{orderBy} #{asc}
    </if>
    <if test="start != null and rows != null">
      limit #{start},#{rows}
    </if>
  </select>

  <delete id="deleteByIdAndUserId" parameterType="java.lang.Integer">
      DELETE FROM t_shopping_cart_format WHERE shopping_cart_id = #{id,jdbcType=INTEGER};
      DELETE FROM t_shopping_cart WHERE id = #{id,jdbcType=INTEGER} AND user_id =  #{userId,jdbcType=INTEGER};
  </delete>
  <delete id="deleteByUserIdAndCheck" parameterType="java.lang.Integer">
      DELETE FROM  t_shopping_cart_format tscf LEFT JOIN t_shopping_cart tsc ON(tscf.shopping_cart_id = tsc.id) WHERE tsc.checkbox = 1 AND tsc.user_id = #{userId,jdbcType=INTEGER}
      DELETE FROM t_shopping_cart WHERE checkbox = 1 AND user_id =  #{userId,jdbcType=INTEGER};
  </delete>

  <update id="updateShoppingCart" parameterType="com.honglinktech.zbgj.entity.ShoppingCart">
      UPDATE t_shopping_cart
      update_time = NOW(),
      user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      <set>
        <if test="goodsName != null">
          goods_name = #{goodsName,jdbcType=VARCHAR},
        </if>
        <if test="imageUrl != null">
          image_url = #{imageUrl,jdbcType=VARCHAR},
        </if>
        <if test="price != null">
          price = #{price,jdbcType=DECIMAL},
        </if>
        <if test="markPrice != null">
          mark_price = #{markPrice,jdbcType=DECIMAL},
        </if>
        <if test="formatId != null">
          format_id = #{formatId,jdbcType=INTEGER},
        </if>
        <if test="formatName != null">
          format_name = #{formatName,jdbcType=VARCHAR},
        </if>
        <if test="num != null">
          num = #{num,jdbcType=INTEGER},
        </if>
        <if test="checkbox != null">
          checkbox = #{checkbox,jdbcType=INTEGER},
        </if>
      </set>
      WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateShoppingCartChckboxAll">
    UPDATE t_shopping_cart
      <if test="checkAll == true">
          checkbox = 1
      </if>
      <if test="checkAll == true">
          checkbox = 0
      </if>
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>