<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.SpecificationDao">

    <!--&lt;!&ndash; Mappers &ndash;&gt;-->
    <!--<resultMap id="SpecificationMap" type="com.honglinktech.zbgj.entity.Specification">-->
    <!--<id property="id" column="id"/>-->
    <!--<result property="itemId" column="item_id"/>-->
    <!--<result property="name" column="s_name"/>-->
    <!--<result property="type" column="s_type"/>-->
    <!--<result property="value" column="s_value"/>-->
    <!--<result property="description" column="description"/>-->
    <!--<result property="creatorId" column="creator_id"/>-->
    <!--<result property="createTime" column="create_time"/>-->
    <!--</resultMap>-->


    <!-- 保存 -->
    <insert id="save" parameterType="com.honglinktech.zbgj.entity.Specification"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_specification
        (

        item_id,
        name,
        prefix,
        spe_type,
        start_value,
        end_value,
        spe_sort,
        spe_show_unit,
        description,
        unit_price,
        show_unit_price,
        type_sort,
        is_select,
        create_user_id,
        update_date,
        delete_flag
        )
        VALUES
        (
        #{itemId},
        #{name},
        #{prefix},
        #{speType},
        #{startValue},
        #{endValue},
        #{speSort},
        #{speShowUnit},
        #{description},
        #{unitPrice},
        #{showUnitPrice},
        #{typeSort},
        #{isSelect},
        #{createUserId},
        now(),
        #{deleteFlag}
        )
    </insert>

    <!-- 更新-->
    <update id="update" parameterType="com.honglinktech.zbgj.entity.Specification">
        UPDATE tb_specification
        SET
        item_id=#{itemId},
        name=#{name},
        prefix=#{prefix},
        spe_type=#{speType},
        start_value=#{startValue},
        end_value=#{endValue},
        spe_sort=#{speSort},
        spe_show_unit=#{speShowUnit},
        description=#{description},
        unit_price=#{unitPrice},
        show_unit_price=#{showUnitPrice},
        type_sort=#{typeSort},
        is_select=#{isSelect},
        create_user_id=#{createUserId},
        update_date=now()
        WHERE
        id = #{id} AND delete_flag=0
    </update>


    <!-- 删除-->
    <delete id="delete" parameterType="int">
        UPDATE
        tb_specification
        SET
        delete_flag=1
        WHERE
        id = #{id}
    </delete>


    <select id="findById" parameterType="int"
            resultType="com.honglinktech.zbgj.entity.Specification">
        SELECT
        id,
        item_id as itemId,
        name,
        prefix,
        spe_type as speType,
        start_value as startValue,
        end_value as endValue,
        spe_sort as speSort,
        spe_show_unit as speShowUnit,
        description,
        unit_price as unitPrice,
        show_unit_price as showUnitPrice,
        type_sort as typeSort,
        is_select as isSelect,
        create_user_id as createUserId,
        update_date as updateDate,
        delete_flag as deleteFlag
        FROM tb_specification WHERE id = #{id}
    </select>


    <select id="findByItemId" parameterType="int"
            resultType="com.honglinktech.zbgj.entity.Specification">
        SELECT
        s.id,
        s.item_id as itemId,
        s.name,
        prefix,
        spe_type as speType,
        start_value as startValue,
        end_value as endValue,
        spe_sort as speSort,
        spe_show_unit as speShowUnit,
        description,
        unit_price as unitPrice,
        show_unit_price as showUnitPrice,
        type_sort as typeSort,
        is_select as isSelect,
        s.create_user_id as createUserId,
        s.update_date as updateDate
        FROM tb_specification as s WHERE s.delete_flag=0 AND item_id = #{itemId}
        ORDER BY s.name, s.spe_sort is null,s.spe_sort asc,s.type_sort is null,s.type_sort ASC,s.start_value is
        null,s.start_value+0 ASC
    </select>



    <select id="findBeanByItemId" parameterType="int"
            resultType="com.honglinktech.zbgj.bean.SpecificationBean">
        SELECT
        s.id,
        s.item_id as itemId,
        s.name,
        prefix,
        spe_type as speType,
        start_value as startValue,
        end_value as endValue,
        spe_sort as speSort,
        spe_show_unit as speShowUnit,
        unit_price as unitPrice,
        is_select as isSelect
        FROM tb_specification as s WHERE s.delete_flag=0 AND item_id = #{itemId}
        ORDER BY s.name, s.spe_sort is null,s.spe_sort asc,s.type_sort is null,s.type_sort ASC,s.start_value is
        null,s.start_value+0 ASC
    </select>

    <update id="deleteByProductItemId" parameterType="int">
        DELETE FROM tb_specification WHERE item_id = #{productItemId}
    </update>

</mapper>
