<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.SupplierProductDao">

	<!-- 保存 -->
    <insert id="save" parameterType="com.honglinktech.zbgj.entity.SupplierProduct">
        INSERT INTO tb_supplier_product
        (
        supplier_id,
        product_id
        )
        VALUES
        (
        #{supplierId},
        #{productId}
        )
    </insert>
    <delete id="deleteByProductId" parameterType="int">
    	DELETE FROM tb_supplier_product WHERE product_id = #{productId}
    </delete>
    
</mapper>