<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserSessionDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.UserSession">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id, token, update_time, create_time
  </sql>

  <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user_session
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="findByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_user_session
    WHERE token = #{token,jdbcType=VARCHAR}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    DELETE FROM t_user_session
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.honglinktech.zbgj.entity.UserSession">
    INSERT INTO t_user_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="token != null and token != ''">
        token,
      </if>
        update_time,
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null and token != ''">
        #{token,jdbcType=VARCHAR},
      </if>
        now(),
        now(),
    </trim>
  </insert>

  <update id="update" parameterType="com.honglinktech.zbgj.entity.UserSession">
    UPDATE t_user_session
    <set>
      <if test="token != null and token != ''">
        token = #{token,jdbcType=VARCHAR},
      </if>
      update_time = now(),
    </set>
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>