<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserSearchRecordDao">
    <!-- Mappers -->

    <select id="findById"
            parameterType="int"
            resultType="com.honglinktech.zbgj.entity.UserSearchRecord">
        select
        id,
        module,
        search_keyword as searchKeyword,
        user_id as userId,
        update_date as updateDate,
        delete_flag as deleteFlag
        from tb_user_search_record where id = #{id}
    </select>

    <!-- 保存 -->
    <insert id="save"
            parameterType="com.honglinktech.zbgj.entity.UserSearchRecord"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO tb_user_search_record
        (
        module,
        search_keyword,
        user_id,
        update_date,
        delete_flag
        )
        VALUES
        (
        #{module},
        #{searchKeyword},
        #{userId},
        now(),
        0
        )
    </insert>

    <!-- 更新-->
    <update id="update"
            parameterType="com.honglinktech.zbgj.entity.UserSearchRecord">
        UPDATE tb_user_search_record
        SET
        module=#{module},
        search_keyword=#{searchKeyword},
        <if test="userId!=null">
            user_id=#{userId},
        </if>
        <if test="deleteFlag!=null">
            delete_flag=#{deleteFlag},
        </if>
        update_date=now()
        WHERE
        id=#{id}
    </update>


    <!--根据用户id和模块查询-->
    <select id="findByUserIdAndModulePage" parameterType="map"
            resultType="com.honglinktech.zbgj.entity.UserSearchRecord">
        select
        id,
        s.module,
        search_keyword as searchKeyword,
        update_date as updateDate
        from tb_user_search_record s where user_id = #{userId} and delete_flag=0 and s.module=#{module}
        GROUP BY search_keyword
        ORDER BY s.update_date DESC
        <if test="start!=null and rows!=null">
            LIMIT #{start}, #{rows}
        </if>

    </select>
    <update id="delete"
            parameterType="map">
        UPDATE tb_user_search_record
        SET
        delete_flag=1,
        update_date=now()
        WHERE
        module=#{module} AND user_id=#{userId} AND
        id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="deleteAll"
            parameterType="map">
        UPDATE tb_user_search_record
        SET
        delete_flag=1,
        update_date=now()
        WHERE
        module=#{module} AND user_id=#{userId}

    </update>


    <select id="findKeywordAmount" parameterType="map"
            resultType="map">
        SELECT s.search_keyword AS searchKeyword,
        s.module,MAX(update_date) as updateDate,
        COUNT(search_keyword) AS amount
        FROM tb_user_search_record s
        WHERE delete_flag=0 and s.module=#{module} GROUP BY search_keyword
    </select>


    <!--查询所有的总数-->
    <!--<select id="findByUserIdCount" parameterType="map"-->
    <!--resultType="int">-->
    <!--SELECT-->
    <!--count(u.id) AS totalRecord-->
    <!--FROM tb_new_product  p ,tb_user_product_collection  u ,tb_product_category  c,tb_product_series s ,tb_exhibition e-->

    <!--WHERE p.category_id=c.id-->
    <!--AND p.series_id=s.id-->
    <!--AND p.exhibition_id=e.id-->
    <!--AND p.id=u.product_id-->
    <!--AND p.delete_flag=0-->
    <!--AND s.delete_flag=0-->
    <!--AND c.delete_flag=0-->
    <!--AND e.delete_flag=0-->
    <!--AND u.delete_flag=0-->
    <!--AND u.user_id=#{userId}-->
    <!--ORDER BY p.update_date DESC-->

    <!--</select>-->


</mapper>
