<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserDao">

    <!-- Mappers -->
    <resultMap id="UserMap" type="com.honglinktech.zbgj.entity.User">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="solt" column="solt"/>
        <result property="userName" column="user_name"/>
        <result property="telephone" column="telephone"/>
        <result property="userType" column="user_type"/>
        <result property="active" column="is_active"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


	<select id="login" resultMap="UserMap">
        SELECT * FROM tb_user WHERE login_name = #{loginName} AND password = #{password}
    </select>
    <update id="updateLoginPwd">
    	UPDATE tb_user SET password = #{newPwd} WHERE password = #{oldPwd} AND id = #{id}
    </update>
    <insert id="save" parameterType="com.honglinktech.zbgj.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT INTO
        tb_user(login_name,password,solt,user_name,telephone,user_type,is_active,create_time,update_time)
        VALUES
        (#{loginName},#{password},#{solt},#{userName},#{telephone},#{userType},#{active},NOW(),NOW())
    </insert>

    <update id="update">
        UPDATE tb_user
        SET
        <if test="loginName!=null">
        	login_name=#{loginName},
        </if>
        <if test="password!=null">
        	password=#{password},
        </if>
        <if test="solt!=null">
        	solt=#{solt},
        </if>
        <if test="userName!=null">
        	user_name=#{userName},
        </if>
        <if test="telephone!=null">
        	telephone=#{telephone},
        </if>
        <if test="userType!=null">
        	user_type=#{userType},
        </if>
        <if test="active!=null">
        	is_active=#{active},
        </if>
        update_time = NOW()
        WHERE
        id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tb_user
        WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="UserMap">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>
    
     <select id="findByPhone" resultMap="UserMap">
        SELECT * FROM tb_user WHERE telephone = #{phone}
    </select>

    <select id="findByUserId" resultMap="UserMap">
        SELECT r.* FROM tb_user r, tb_admin_role ul WHERE r.id = ul.role_id AND ul.user_id = #{uid}
    </select>

    <select id="page" resultMap="UserMap">
        SELECT * FROM tb_user LIMIT #{start}, #{size}
    </select>

 	<select id="findAll" resultMap="UserMap">
        SELECT * FROM tb_user
    </select>
    
    <select id="countAll" resultType="Long">
        SELECT count(1)
        FROM tb_user
    </select>

</mapper>
