<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserRecDao">

  <resultMap id="BaseResultMap" type="com.honglinktech.zbgj.entity.UserRec">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="rec_user_id" jdbcType="INTEGER" property="recUserId" />
    <result column="rec_user_name" jdbcType="VARCHAR" property="recUserName" />
    <result column="award_type" jdbcType="INTEGER" property="awardType" />
    <result column="award_num" jdbcType="INTEGER" property="awardNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, rec_user_id, rec_user_name, award_type, award_num, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM t_user_rec
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM t_user_rec
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.honglinktech.zbgj.entity.UserRec">
    INSERT INTO t_user_rec
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="recUserId != null">
        rec_user_id,
      </if>
      <if test="recUserName != null and recUserName != ''">
        rec_user_name,
      </if>
      <if test="awardType != null">
        award_type,
      </if>
      <if test="awardNum != null">
        award_num,
      </if>
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="recUserId != null">
        #{recUserId,jdbcType=INTEGER},
      </if>
      <if test="recUserName != null and recUserName != ''">
        #{recUserName,jdbcType=VARCHAR},
      </if>
      <if test="awardType != null">
        #{awardType,jdbcType=INTEGER},
      </if>
      <if test="awardNum != null">
        #{awardNum,jdbcType=INTEGER},
      </if>
      now(),
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.honglinktech.zbgj.entity.UserRec">
    UPDATE t_user_rec
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="recUserId != null">
        rec_user_id = #{recUserId,jdbcType=INTEGER},
      </if>
      <if test="recUserName != null and recUserName != ''">
        rec_user_name = #{recUserName,jdbcType=VARCHAR},
      </if>
      <if test="awardType != null">
        award_type = #{awardType,jdbcType=INTEGER},
      </if>
      <if test="awardNum != null">
        award_num = #{awardNum,jdbcType=INTEGER},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>