<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//configs.mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglinktech.zbgj.dao.UserColorDao">

    <!-- Mappers -->
    <resultMap id="UserColorMap" type="com.honglinktech.zbgj.entity.UserColor">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <insert id="save" parameterType="com.honglinktech.zbgj.entity.UserColor">
        INSERT INTO
        tb_user_color(id,login_name,user_name,user_type,create_time,update_time)
        VALUES
        (#{id},#{loginName},#{userName},#{userType},NOW(),NOW())
    </insert>

    <update id="update">
        UPDATE tb_user_color
        SET
        <if test="loginName!=null">
        	login_name=#{loginName},
        </if>
        <if test="userName!=null">
        	user_name=#{userName},
        </if>
        <if test="userType!=null">
        	user_type=#{userType},
        </if>
        update_time = NOW()
        WHERE
        id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tb_user_color
        WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="UserColorMap">
        SELECT * FROM tb_user_color WHERE id = #{id}
    </select>
    
    <select id="findPage" resultMap="UserColorMap">
        SELECT * FROM tb_user_color LIMIT #{start}, #{size}
    </select>

 	<select id="findAll" resultMap="UserColorMap">
        SELECT * FROM tb_user_color
    </select>
    
    <select id="countAll" resultType="Long">
        SELECT count(1) FROM tb_user_color
    </select>

</mapper>
