<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="[%d{YYYY-MM-dd HH:mm:ss SSS} %-5p] %3x %F:%L - %m%n"/>
        </Console>
        <RollingFile name="ROLLING" fileName="${logs.path}${logs.filename}"
                     filePattern="${logs.path}${date:yyyy-MM}/zbgjapi_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="[%d{YYYY-MM-dd HH:mm:ss SSS} %-5p] %3x %F:%L - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.honglinktech.zbgj" level="${logs.flag}">
            <appender-ref ref="ROLLING"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
    </loggers>
</configuration>
